﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nyx</title>

    <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
    @RenderSection("styles", required: false)
</head>

<body>
    <script src="~/dist/site.js"></script>
    <div id="app">
        @RenderBody()
    </div>
    <div id="toaster"></div>
    <script>
        let toaster = new Vue({
            el: '#toaster'
        });
        @if (TempData["Toast"] != null)
        {
            <text>toaster.$toast.open({
                duration: @(TempData["ToastDuration"] ?? 5000),
                message: `@TempData["Toast"]`,
                position: `@(TempData["ToastPosition"] ?? "is-top")`,
                type: `@(TempData["ToastType"] ?? "is-dark")`
            })</text>
        }
    </script>
    @RenderSection("scripts", required: false)
</body>

</html>