﻿@using Microsoft.AspNetCore.Identity
@using NyxDatabase.Models

@inject SignInManager<NyxCustomer> SignInManager
@inject UserManager<NyxCustomer> UserManager
@{
    NyxCustomer user = await UserManager.GetUserAsync(User);
}


<div class="navbar-end">
@if (SignInManager.IsSignedIn(User))
{
    <div class="navbar-item has-dropdown is-hoverable">
        <a asp-controller="Account" asp-action="Index" class="navbar-item" slot="trigger">
            @user.FirstName
        </a>
        <div class="navbar-dropdown is-right is-boxed">
          <a class="navbar-item" v-on:click="logout">
            <b-icon icon="logout"></b-icon>
            Logout
          </a>
        </div>
      </div>
}
else
{
    <a asp-controller="Account" asp-action="Login" class="navbar-item" slot="trigger">
        <span>Login</span>
    </a>
    <a asp-controller="Account" asp-action="Register" class="navbar-item" slot="trigger">
        <span>Register</span>
    </a>
}
    
</div>


