﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nyx</title>

    <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
    @RenderSection("styles", required: false)
</head>

<body>
    <script src="~/dist/site.js"></script>
    <div id="mainNavBar">
        <nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" asp-controller="Home" asp-action="Index">
                    <img src="https://bulma.io/images/bulma-logo.png" alt="Nyx: a chat bot creation platform" width="112" height="28">
                </a>
                <div :class="{ 'is-active': hamburgerActive }" v-on:click="hamburgerClick" class="navbar-burger burger" data-target="mainNavBarBody">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            
            <div :class="{ 'is-active': hamburgerActive }" class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a asp-controller="Workspace" asp-action="Index" class="navbar-link">Workspace</a>
                    
                        <div class="navbar-dropdown is-boxed">
                            <a asp-controller="Workspace" asp-action="Bots" class="navbar-item">Bots</a>
                            <a asp-controller="Workspace" asp-action="CustomerSupports" class="navbar-item">Customer Supports</a>
                        </div>
                    </div>
                </div>
                
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </nav>
    </div>
    <div id="app">
        @RenderBody()
    </div>
    <div id="toaster"></div>
    <form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post"></form>
    @RenderSection("scripts", required: false)
    <script>
        let mainNavBar = new Vue({
            el: '#mainNavBar',
            data: {
                hamburgerActive: false
            },
            methods: {
                hamburgerClick: function () {
                    this.hamburgerActive = !this.hamburgerActive;
                },
                logout: function () {
                    document.getElementById('logoutForm').submit();
                }
            }
        });
        
        let toaster = new Vue({
            el: '#toaster'
        });
        @if (TempData["Toast"] != null)
        {
            <text>toaster.$toast.open({
                duration: @(TempData["ToastDuration"] ?? 5000),
                message: `@TempData["Toast"]`,
                position: `@(TempData["ToastPosition"] ?? "is-top")`,
                type: `@(TempData["ToastType"] ?? "is-dark")`
            })</text>
        }
    </script>
</body>

</html>