﻿@{
    ViewData["Title"] = "Change Profile image";
    Layout = "_NavBarLayout";
}

@section styles {
    <style>
        button[type="submit"] {
            width: 100%;
        }
    </style>
}

<div class="container has-text-centered">
    <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey">Change Profile Image</h3>
        <hr>
        <form asp-controller="Account" asp-action="ChangeProfileImage" method="post" enctype="multipart/form-data">
            <b-field label="Profile Image">
                <b-field>
                    <figure class="profile image is-256x256-tablet">
                        <img :src="filePath"
                            v-on:click="triggerInputFile"
                            alt="Profile image">
                    </figure>
                    <input ref="adminProfileImg"
                        v-on:change="imageChange"
                        v-show="false"
                        name="Image"
                        type="file">
                </b-field>
            </b-field>
            <button type="submit" class="button is-block is-cyan is-large">Change</button>
        </form>
    </div>
</div>

@section scripts {
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                file: [],
                filePath: '@ViewData["CurrentImage"]'
            },
            methods: {
                imageChange: function (e) {
                    let input = e.target;
                    if (input.files && input.files[0]) {
                        let fileReader = new FileReader();
                        fileReader.onload = e => {
                            this.filePath = e.target.result;
                        }
                        fileReader.readAsDataURL(input.files[0]);
                    } else {
                        this.filePath = '@ViewData["CurrentImage"]';
                    }
                },
                triggerInputFile: function () {
                    let input = this.$refs.adminProfileImg;
                    input.click();
                }
            }
        })
    </script>
}
