﻿@{
    ViewData["Title"] = "Change Password";
    Layout = "_NavBarLayout";
}

@section styles {
    <style>
        button[type="submit"] {
            width: 100%;
        }
    </style>
}

<div class="container has-text-centered">
    <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey">Change Password</h3>
        <hr>
        <form asp-controller="Account" asp-action="ChangePassword" method="post">
            <b-field label="Current Password">
                <b-input name="CurrentPassword"
                    type="password"
                    password-reveal>
                </b-input>
            </b-field>
            <b-field label="New Password">
                <b-input name="NewPassword"
                    type="password"
                    password-reveal>
                </b-input>
            </b-field>
            <b-field label="Confirm New Password">
                <b-input name="ConfirmPassword"
                    type="password"
                    password-reveal>
                </b-input>
            </b-field>
            <button type="submit" class="button is-block is-cyan is-large">Change</button>
        </form>
    </div>
</div>

@section scripts {
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                
            }
        })
    </script>
}
