﻿@{ ViewData["Title"] = "Nyx Email Confirmation"; }

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4 content is-large">
                <h1 class="title has-text-grey">Nyx</h1>
                <hr>
                <p>Your email has been verified.</p>
                <a asp-controller="Account" asp-action="Login" class="button is-primary">Login</a>
            </div>
        </div>
    </div>
</section>
