﻿@using NyxDatabase.Models
@{
    ViewData["Title"] = "Edit Company Info";
    Layout = "_NavBarLayout";
    var Countries = ViewData["Countries"] as List<Country>;
}

@section styles {
    <style>
        button[type="submit"] {
            width: 100%;
        }
    </style>
}

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Edit Company</h3>
                <hr>
                <form asp-controller="Account" asp-action="EditCompany" method="post">
                    <b-field label="Name">
                        <b-input name="Name"
                            value="@Model.Name"
                            maxlength="100">
                        </b-input>
                    </b-field>
                    <b-field label="Country">
                        <b-select name="Country"
                            placeholder="Country"
                            icon="earth"
                            v-model="country"
                            expanded>
                            @foreach (var country in Countries)
                            {
                                <option value="@country.Id">@country.Id</option>
                            }
                        </b-select>
                    </b-field>
                    <b-field label="State">
                        <b-input name="State"
                            value="@Model.State"
                            maxlength="100">
                        </b-input>
                    </b-field>
                    <b-field label="City">
                        <b-input name="City"
                            value="@Model.City"
                            maxlength="100">
                        </b-input>
                    </b-field>
                    <b-field label="Address Line 1">
                        <b-input name="AddressLine1"
                            value="@Model.AddressLine1"
                            maxlength="100">
                        </b-input>
                    </b-field>
                    <b-field label="Address Line 2">
                        <b-input name="AddressLine2"
                            value="@Model.AddressLine2"
                            maxlength="100">
                        </b-input>
                    </b-field>
                    <b-field label="Postal Code">
                        <b-input name="PostalCode"
                            value="@Model.PostalCode"
                            maxlength="100">
                        </b-input>
                    </b-field>
                    <b-field label="Phone Number">
                        <b-field>
                            <b-input name="PhoneCode"
                                value="@Model.PhoneCode"
                                maxlength="4"
                                :style="{ width: '60px' }">
                            </b-input>
                            <b-input name="PhoneNumber"
                                value="@Model.PhoneNumber"
                                maxlength="100"
                                :style="{ width: 'calc(100% - 60px)' }">
                            </b-input>
                        </b-field>
                    </b-field>
                    <button type="submit" class="button is-block is-cyan is-large">Update</button>
                </form>
            </div>
        </div>
    </div>
</section>


@section scripts {
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                country: '@Model.Country'
            }
        })
    </script>
}
