﻿@model EditProfileViewModel

@{
    ViewData["Title"] = "Edit Profile";
    Layout = "_NavBarLayout";
}

@section styles {
    <style>
        button[type="submit"] {
            width: 100%;
        }
    </style>
}

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Edit Profile</h3>
                <hr>
                <form asp-controller="Account" asp-action="EditProfile" method="post" enctype="multipart/form-data">
                    @*<b-field label="Email">
                            <b-input type="email"
                                name="Email"
                                value="admin@abc.com"
                                maxlength="100"
                                disabled>
                            </b-input>
                        </b-field>*@

                    <b-field label="Profile Image">
                        <b-field>
                            <figure class="profile image is-256x256-tablet">
                                <img :src="filePath"
                                     alt="Profile image">
                                <div class="dimmer" v-on:click="triggerInputFile">
                                    <a class="button is-black is-inverted is-outlined">Change</a>
                                </div>
                            </figure>
                            <input ref="adminProfileImg"
                                   v-on:change="imageChange"
                                   v-show="false"
                                   name="Image"
                                   type="file">
                        </b-field>
                    </b-field>

                    <b-field label="First Name">
                        <b-input name="FirstName"
                                 value="@Model.FirstName"
                                 maxlength="100"
                                 required>
                        </b-input>
                    </b-field>
                    <b-field label="Last Name">
                        <b-input name="LastName"
                                 value="@Model.LastName"
                                 maxlength="100"
                                 required>
                        </b-input>
                    </b-field>
                    <b-field label="Admin Phone Number">
                        <b-field>
                            <b-input name="PhoneCode"
                                     placeholder="+65"
                                     maxlength="4"
                                     value="@Model.PhoneCode"
                                     :style="{ width: '60px' }"
                                     pattern="^\+\d+"
                                     required>
                            </b-input>
                            <b-input name="PhoneNumber"
                                     placeholder="91234567"
                                     maxlength="100"
                                     value="@Model.PhoneNumber"
                                     :style="{ width: 'calc(100% - 60px)' }"
                                     pattern="\d+"
                                     required>
                            </b-input>
                        </b-field>
                    </b-field>
                    <b-field label="Date of Birth">
                        <flat-pickr v-model="dateOfBirth" name="DOB" :config="dateConfig" class="input" required></flat-pickr>
                    </b-field>
                    <button type="submit" class="button is-block is-cyan is-large">Update</button>
                </form>
            </div>
        </div>
    </div>
</section>


@section scripts {
    <script src="https://unpkg.com/vee-validate@latest"></script>
    <link href="https://unpkg.com/flatpickr@4/dist/flatpickr.min.css" rel="stylesheet">
    <script src="https://unpkg.com/flatpickr@4/dist/flatpickr.min.js"></script>
    <script src="https://unpkg.com/vue-flatpickr-component@7"></script>
    <script>
        Vue.component('flat-pickr', VueFlatpickr)
        let app = new Vue({
            el: '#app',
            data: {
                dateOfBirth: new Date(`@Model.DOB`),
                dateConfig: {
                    maxDate: 'today',
                    altFormat: 'd M Y',
                    altInput: true,
                    dateFormat: 'd/m/Y',
                },
                file: [],
                filePath: '@Model.ImgUrl',
            },
            methods: {
                imageChange: function (e) {
                    let input = e.target;
                    if (input.files && input.files[0]) {
                        let fileReader = new FileReader();
                        fileReader.onload = e => {
                            this.filePath = e.target.result;
                        }
                        fileReader.readAsDataURL(input.files[0]);
                    } else {
                        this.filePath = '@ViewData["CurrentImage"]';
                    }
                },
                triggerInputFile: function () {
                    let input = this.$refs.adminProfileImg;
                    input.click();
                }
            }
        })
    </script>
}
