﻿@{ ViewData["Title"] = "Email not confirmed"; }

@section styles {
    <style>
        button {
            margin: auto;
        }
        
        button[type="submit"] {
            width: 100%;
        }
    </style>
}

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Email Not Confirmed</h3>
                <hr>
                <p class="subtitle has-text-grey">{{ subtitle }}</p>
                <button v-if="!showResendForm"
                    v-on:click="showForm"
                    class="button is-block is-cyan is-large">
                    Resend email
                </button>
                <form v-if="showResendForm"
                    asp-controller="Account"
                    asp-action="EmailNotConfirmed"
                    method="post">
                    <b-field label="Email">
                        <b-input type="email"
                            name="Email"
                            placeholder="admin@abc.com"
                            value="@ViewData["Email"]"
                            maxlength="100">
                        </b-input>
                    </b-field>
                    <button v-if="showResendForm"
                        type="submit"
                        class="button is-block is-cyan is-large">
                        Resend Email
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                subtitle: 'Please check your email for a verfication email.',
                showResendForm: false
            },
            methods: {
                showForm: function () {
                    this.showResendForm = true;
                    this.subtitle = 'Please enter your credentials to resend the confirmation email';
                }
            }
        })
    </script>
}
