﻿@{
    ViewData["Title"] = "Forgot Password";
}

@section styles {
    <style>
        button[type="submit"] {
            width: 100%;
        }
    </style>
}

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Forgot Password</h3>
                <hr>
                <p class="subtitle has-text-grey">Enter your email to receive a change password link.</p>
                <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                    <b-field label="Email">
                        <b-input name="Email"
                        type="email">
                        </b-input>
                    </b-field>
                    <button type="submit" class="button is-block is-cyan is-large">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                
            }
        })
    </script>
}
