﻿@model NyxDatabase.Models.CompanyAdmin
@{
    ViewData["Title"] = "Your account";
    Layout = "_NavBarLayout";
}

@section styles {
<style>
    /**
    * The CSS shown here will not be introduced in the Quickstart guide, but shows
    * how you can use CSS to style your Element's container.
    */
        .StripeElement {
            background-color: white;
            height: 40px;
            padding: 10px 12px;
            border-radius: 4px;
            border: 1px solid transparent;
            box-shadow: 0 1px 3px 0 #e6ebf1;
            -webkit-transition: box-shadow 150ms ease;
            transition: box-shadow 150ms ease;
        }

        .StripeElement--focus {
            box-shadow: 0 1px 3px 0 #cfd7df;
        }

        .StripeElement--invalid {
            border-color: #fa755a;
        }

        .StripeElement--webkit-autofill {
            background-color: #fefde5 !important;
        }

        .sk-folding-cube {
          margin: 20px auto;
          width: 100px;
          height: 100px;
          position: relative;
          -webkit-transform: rotateZ(45deg);
                  transform: rotateZ(45deg);
        }

        .sk-folding-cube .sk-cube {
          float: left;
          width: 50%;
          height: 50%;
          position: relative;
          -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
                  transform: scale(1.1);
        }
        .sk-folding-cube .sk-cube:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #fff;
          -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
                  animation: sk-foldCubeAngle 2.4s infinite linear both;
          -webkit-transform-origin: 100% 100%;
              -ms-transform-origin: 100% 100%;
                  transform-origin: 100% 100%;
        }
        .sk-folding-cube .sk-cube2 {
          -webkit-transform: scale(1.1) rotateZ(90deg);
                  transform: scale(1.1) rotateZ(90deg);
        }
        .sk-folding-cube .sk-cube3 {
          -webkit-transform: scale(1.1) rotateZ(180deg);
                  transform: scale(1.1) rotateZ(180deg);
        }
        .sk-folding-cube .sk-cube4 {
          -webkit-transform: scale(1.1) rotateZ(270deg);
                  transform: scale(1.1) rotateZ(270deg);
        }
        .sk-folding-cube .sk-cube2:before {
          -webkit-animation-delay: 0.3s;
                  animation-delay: 0.3s;
        }
        .sk-folding-cube .sk-cube3:before {
          -webkit-animation-delay: 0.6s;
                  animation-delay: 0.6s;
        }
        .sk-folding-cube .sk-cube4:before {
          -webkit-animation-delay: 0.9s;
                  animation-delay: 0.9s;
        }
        @@-webkit-keyframes sk-foldCubeAngle {
          0%, 10% {
            -webkit-transform: perspective(140px) rotateX(-180deg);
                    transform: perspective(140px) rotateX(-180deg);
            opacity: 0;
          } 25%, 75% {
            -webkit-transform: perspective(140px) rotateX(0deg);
                    transform: perspective(140px) rotateX(0deg);
            opacity: 1;
          } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
                    transform: perspective(140px) rotateY(180deg);
            opacity: 0;
          }
        }

        @@keyframes sk-foldCubeAngle {
          0%, 10% {
            -webkit-transform: perspective(140px) rotateX(-180deg);
                    transform: perspective(140px) rotateX(-180deg);
            opacity: 0;
          } 25%, 75% {
            -webkit-transform: perspective(140px) rotateX(0deg);
                    transform: perspective(140px) rotateX(0deg);
            opacity: 1;
          } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
                    transform: perspective(140px) rotateY(180deg);
            opacity: 0;
          }
        }
</style>
}



    <section class="container">
        <div class="content">

            <h2 class="subtitle has-grey-text">Personal Information<small><a asp-controller="Account" asp-action="EditProfile">Edit</a></small></h2>

            <div class="has-text-centered-mobile">
                <figure class="profile image ">
                    <img src="@Model.ProfileImageUrl">
                    <div class="dimmer">
                        <a class="button is-black is-inverted is-outlined" asp-controller="Account" asp-action="ChangeProfileImage">Change</a>
                    </div>
                </figure>
                <h1 class="title has-grey-text">@Model.FirstName @Model.LastName</h1>
            </div>

            <dl>
                <dt>Email</dt>
                <dd>@Model.Email</dd>
                <dt>Date Of Birth</dt>
                <dd>@Model.DateOfBirth.ToString("dd MMM yyyy")</dd>
                <dt>Phone Number</dt>
                <dd>@Model.PhoneCode @Model.PhoneNumber</dd>
                <dt>Password</dt>
                <dd><a asp-controller="Account" asp-action="ChangePassword">Change Password</a></dd>
            </dl>
            <hr>
            <h2 class="subtitle has-grey-text">Company Information<small><a asp-controller="Account" asp-action="EditCompany">Edit</a></small></h2>
            <dl>
                <dt>Name</dt>
                <dd>@Model.Company.Name</dd>
                <dt>Country</dt>
                <dd>@Model.Company.CountryId</dd>
                <dt>State</dt>
                <dd>@Model.Company.State</dd>
                <dt>City</dt>
                <dd>@Model.Company.City</dd>
                <dt>Address Line 1</dt>
                <dd>@Model.Company.AddressLine1</dd>
                <dt>Address Line 2</dt>
                <dd>@Model.Company.AddressLine2</dd>
                <dt>Postal Code</dt>
                <dd>@Model.Company.PostalCode</dd>
                <dt>Phone Number</dt>
                <dd>@Model.Company.PhoneCode @Model.Company.PhoneNumber</dd>
                <dt>Stripe</dt>
                @*<dd><a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_CQU2l8UEYs63dJhz2GNnyFykwkHClFwI&scope=read_write"><img src="~/image/light-on-dark.png" /></a></dd>
            <dd>Try to test whether payment is working! <a href="#" onclick="show()">Click here</a></dd>*@

                @if (Model.StripeConnectId != null)
        {
            <dd>Your stripe account has been connected!</dd>
            <br />
            <dd>Try to test whether payment is working! <a href="#" onclick="show()">Click here</a></dd>
            <br />
            <dd>To change stripe account <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_CQU2l8UEYs63dJhz2GNnyFykwkHClFwI&scope=read_write">Click Here</a></dd>
}
else
{
        <dd><a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_CQU2l8UEYs63dJhz2GNnyFykwkHClFwI&scope=read_write"><img src="~/image/light-on-dark.png" /></a></dd>
}
            </dl>
        </div>

        <div class="modal" id="TestPay">
            <div class="modal-background"></div>
            <div class="modal-content" style="background:white;">
                <form method="post" id="payment-form">
                    <div class="form-row">
                        <label for="card-element">
                            Credit or debit card
                        </label>
                        <div id="card-element">
                            <!-- A Stripe Element will be inserted here. -->
                        </div>

                        <!-- Used to display form errors. -->
                        <div id="card-errors" role="alert"></div>
                    </div>

                    <a href="#" onclick="GenerateToken()">Submit Payment</a>
                </form>
            </div>
            <button class="modal-close is-large" onclick="hide()" aria-label="close"></button>
        </div>

        <div class="modal" id="loading">
            <div class="modal-background"></div>
            <div class="modal-content" style="width:500px; height:500px;">
                <div style="margin-top:50px;">
                    <div class="sk-folding-cube">
                        <div class="sk-cube1 sk-cube"></div>
                        <div class="sk-cube2 sk-cube"></div>
                        <div class="sk-cube4 sk-cube"></div>
                        <div class="sk-cube3 sk-cube"></div>
                    </div>
                    <br />
                    <h1 style="font-size:2em; color:white; text-align:center;">~Loading~</h1>
                </div>
            </div>
        </div>
    </section>

@section scripts {
    <!--Import stripe.js-->
    <script src="https://js.stripe.com/v3/"></script>

    <script>
        function show() {
            var element = document.getElementById("TestPay");
            element.classList.add("is-active");
        }
        function hide() {
            var element = document.getElementById("TestPay");
            element.classList.remove("is-active");
        };

        function hideForm() {
            var element = document.getElementById("payment-form");
            element.style.visibility = "hidden";
        };

        function showLoading() {
            var element = document.getElementById("loading");
            element.classList.add("is-active");
        };
        // Create a Stripe client.
        var stripe = Stripe('pk_test_OexCkbFIAvIVWTy9f5riCBJP');

        // Create an instance of Elements.
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
            base: {
                color: '#32325d',
                lineHeight: '18px',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', { style: style });

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');
        
        function getRootUrl() {
	        return window.location.origin?window.location.origin+'/':window.location.protocol+'/'+window.location.host+'/';
        }
        function GenerateToken() {

            stripe.createToken(card).then(function (result) {
                console.log(result)
                try {
                    
                    var token = result.token.id;

                    hideForm();
                    showLoading();
                    var yourUrl = getRootUrl()+'Account/TestPay?someText=' + encodeURIComponent(token);
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", yourUrl, true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.onreadystatechange = function () {//Call a function when the state changes.
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            location.reload();
                        }
                    }
                    xhr.send();
                } catch (err) { 
                    var error = result.error.message;
                    toaster.$toast.open({
                        message: error,
                        type: 'is-danger'
                    })
                }
            });
        }
    </script>
}
