﻿@{ ViewData["Title"] = "Login"; }

@section styles {
<style>
        button[type="submit"] {
            width: 100%;
        }
    </style>
}

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Nyx</h3>
                <hr>
                <p class="subtitle has-text-grey">Please login to proceed.</p>
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <b-field label="Email">
                        <b-input type="email"
                            name="Email"
                            placeholder="admin@abc.com"
                            maxlength="100">
                        </b-input>
                    </b-field>
                    <b-field label="Password">
                        <b-input type="password"
                            name="Password"
                            password-reveal>
                        </b-input>
                    </b-field>
                    <div class="field">
                        <b-checkbox name="RememberMe" v-model="rememberMe" native-value="true" checked>Remember Me</b-checkbox>
                    </div>
                    <button type="submit" class="button is-block is-cyan is-large">Login</button>
                </form>
                <p class="has-text-grey">
                    <a asp-controller="Account" asp-action="Register">Register</a> &nbsp;·&nbsp;
                    <a asp-controller="Account" asp-action="ForgotPassword">Forgot Password</a> &nbsp;·&nbsp;
                    <a asp-controller="Account" asp-action="EmailNotConfirmed">Verify Email</a>
                </p>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                rememberMe: true
            }
        })
    </script>
}
