﻿@using NyxDatabase.Models
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "_NavBarLayout";
    var Countries = ViewData["Countries"] as List<Country>;
}

@section styles {
    <style>
        button[type="submit"],
        input[name="CompanyPhoneCode"] {
            width: 100%;
        }

            input[name="CompanyPhoneCode"] + small.help.counter {
                margin-left: -10em;
            }

        form .field.has-addons .control:last-child input.input[name="CompanyPhoneNumber"] {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    </style>
}

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-8-desktop is-12-tablet is-offset-2-desktop">
                <h3 class="title has-text-grey">Nyx</h3>
                <hr>
                <p class="subtitle has-text-grey">Account Registration</p>
                <form asp-controller="Account" asp-action="Register" id="registerForm" method="post" enctype="multipart/form-data">
                    <div class="columns">
                        <div class="column is-half-tablet">
                            <b-field label="Admin Email">
                                <b-input type="email"
                                         v-validate
                                         data-vv-scope="RegisterForm"
                                         name="AdminEmail"
                                         placeholder="admin@abc.com"
                                         maxlength="100"
                                         title="Please enter email" required>
                                </b-input>
                            </b-field>
                            <b-field label="Admin First Name">
                                <b-input name="AdminFirstName"
                                         v-validate
                                         data-vv-scope="RegisterForm"
                                         placeholder="John"
                                         maxlength="100"
                                         title="Please enter first name" required>
                                </b-input>
                            </b-field>
                            <b-field label="Admin Last Name">
                                <b-input name="AdminLastName"
                                         v-validate
                                         data-vv-scope="RegisterForm"
                                         placeholder="Doe"
                                         maxlength="100"
                                         title="Please enter last name" required>
                                </b-input>
                            </b-field>
                            @*<b-field label="Admin Date of Birth">
                    <flat-pickr v-model="date"
                                name="AdminDOB"
                                placeholder="Click to select..."
                                :config="datePickerConfig"
                                class="input" required>
                    </flat-pickr>
                </b-field>*@
                            <b-field label="Password">
                                <b-input v-validate="'verify_password|min:6'" type="password"
                                         name="Password"
                                         data-vv-scope="RegisterForm"
                                         min="6"
                                         placeholder="password123"
                                         password-reveal
                                         title="password must be at least 6 characters and contain at least 1 uppercase letter, 1 lowercase letter, 1 number, and one special character (E.g. , . _ & ? etc)"
                                         pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{6,})"
                                         required>
                                </b-input>
                            </b-field>
                            <div v-show="errors.any()">
                                <div v-if="errors.has('Password')">
                                    {{ errors.first('Password') }}
                                </div>
                            </div>
                            <b-field label="Confirm Password">
                                <b-input type="password"
                                         name="ConfirmPassword"
                                         placeholder="password321"
                                         password-reveal
                                         data-vv-scope="RegisterForm"
                                         min="6"
                                         v-validate="'confirmed:Password|verify_password||min:6'"
                                         pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{6,})"
                                         title="Confirm password must be at least 6 characters and contain at least 1 uppercase letter, 1 lowercase letter, 1 number, and one special character (E.g. , . _ & ? etc)"
                                         required>
                                </b-input>
                            </b-field>
                            <div v-show="errors.any()">
                                <div v-if="errors.has('ConfirmPassword')">
                                    {{ errors.first('ConfirmPassword') }}
                                </div>
                            </div>
                            <b-field label="Admin Phone Number">
                                <b-field>
                                    <b-input name="AdminPhoneCode"
                                             placeholder="+65"
                                             data-vv-scope="RegisterForm"
                                             maxlength="4"
                                             v-validate
                                             :style="{ width: '60px' }"
                                             pattern="^\+\d+"
                                             required>
                                    </b-input>
                                    <b-input name="AdminPhoneNumber"
                                             placeholder="91234567"
                                             maxlength="100"
                                             v-validate
                                             data-vv-scope="RegisterForm"
                                             :style="{ width: 'calc(100% - 60px)' }"
                                             pattern="\d+"
                                             required>
                                    </b-input>
                                </b-field>
                            </b-field>
                            <b-field label="Profile Image">
                                <b-field>
                                    <figure class="profile image is-256x256-tablet">
                                        <img :src="filePath"
                                             v-on:click="triggerInputFile"
                                             alt="Profile image">
                                    </figure>
                                    <input ref="adminProfileImg"
                                           v-on:change="imageChange"
                                           v-show="false"
                                           name="AdminProfileImg"
                                           type="file">
                                </b-field>
                            </b-field>
                        </div>
                        <div class="column is-half-tablet">
                            <b-field label="Company Name">
                                <b-input name="CompanyName"
                                         data-vv-scope="RegisterForm"
                                         placeholder="Best Company eva"
                                         v-validate
                                         maxlength="100" required>
                                </b-input>
                            </b-field>
                            <div class="field">
                                <label class="label">
                                    Company's Country
                                </label>
                                <div class="control is-expanded has-icons-left">
                                    <span class="select is-fullwidth is-empty">
                                        <select name="CompanyCountry" v-validate data-vv-scope="RegisterForm" required>
                                            <option selected="selected" disabled="disabled" value="" hidden="hidden">Country</option>
                                            @foreach (var country in Countries)
                                            {
                                                <option value="@country.Id">@country.Id</option>
                                            }
                                        </select>
                                    </span>
                                    <span class="icon is-left">
                                        <i class="mdi mdi-earth mdi-24px"></i>
                                    </span>
                                </div>
                            </div>
                            <b-field label="Company State">
                                <b-input name="CompanyState"
                                         placeholder="Washington"
                                         maxlength="100"
                                         v-validate
                                         data-vv-scope="RegisterForm" required>
                                </b-input>
                            </b-field>
                            <b-field label="Company City">
                                <b-input name="CompanyCity"
                                         placeholder="Seattle"
                                         maxlength="100"
                                         v-validate
                                         data-vv-scope="RegisterForm" required>
                                </b-input>
                            </b-field>
                            <b-field label="Company Address Line 1">
                                <b-input name="CompanyAddressLine1"
                                         placeholder="Street name, building no"
                                         maxlength="100"
                                         v-validate
                                         data-vv-scope="RegisterForm" required>
                                </b-input>
                            </b-field>
                            <b-field label="Company Address Line 2">
                                <b-input name="CompanyAddressLine2"
                                         placeholder="Office / Apartment no"
                                         maxlength="100">
                                </b-input>
                            </b-field>
                            <b-field label="Company Postal Code">
                                <b-input name="CompanyPostalCode"
                                         placeholder="Postal Code"
                                         maxlength="100"
                                         pattern="\d+"
                                         v-validate
                                         data-vv-scope="RegisterForm"
                                         required>
                                </b-input>
                            </b-field>
                            <b-field label="Company Phone Number">
                                <b-field>
                                    <b-input name="CompanyPhoneCode"
                                             placeholder="+65"
                                             maxlength="4"
                                             :style="{ width: '60px' }"
                                             pattern="^\+\d+"
                                             v-validate
                                             data-vv-scope="RegisterForm"
                                             required>
                                    </b-input>
                                    <b-input name="CompanyPhoneNumber"
                                             placeholder="65555555"
                                             maxlength="100"
                                             :style="{ width: 'calc(100% - 60px)' }"
                                             pattern="\d+"
                                             v-validate
                                             data-vv-scope="RegisterForm"
                                             required>
                                    </b-input>
                                </b-field>
                            </b-field>
                        </div>
                    </div>
                    <b-input id="StripeHidden" name="StripeTransactionId" type="hidden"></b-input>

                    <button type="button"  v-on:click="validateForm('RegisterForm')" class="button is-block is-cyan is-large">Register</button>
                </form>
                <b-modal :active.sync="isCardModalActive" has-modal-card>
                    <div style="height:600px; width:600px;" class="card">
                        <iframe height="600" width="600" src="/Payment/IFramePaymentDetails"></iframe>
                    </div>
                </b-modal>
                <p class="has-text-grey">
                    <a href="../">Login</a>
                </p>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="https://unpkg.com/vee-validate@latest"></script>
    <link href="https://unpkg.com/flatpickr@4/dist/flatpickr.min.css" rel="stylesheet">
    <script src="https://unpkg.com/flatpickr@4/dist/flatpickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-flatpickr-component@7.0.2/dist/vue-flatpickr.min.js"></script>
    <script>
       
        Vue.component('flat-pickr', VueFlatpickr)

        Vue.use(VeeValidate, {
            events: 'input' // validate on input and on blur, this is the default.
        });

        //custom password validator usign vee-validate
        VeeValidate.Validator.extend('verify_password', {
            getMessage: field => `The password must contain at least: 1 uppercase letter, 1 lowercase letter, 1 number, and one special character (E.g. , . _ & ? etc)`,
            validate: value => {
                var strongRegex = /((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{6,})/
                return strongRegex.test(value);
            }
        });

        let app = new Vue({
            el: '#app',
            data: {
                file: [],
                filePath: 'https://semantic-ui.com/images/wireframe/image.png',
                datePickerConfig: {
                    maxDate: 'today',
                    altFormat: 'J M Y',
                    altInput: true,
                    dateFormat: 'd/m/Y',
                },
                isCardModalActive: false,
                date: null,
            },
            methods: {
                imageChange(e) {
                    let input = e.target;
                    if (input.files && input.files[0]) {
                        let fileReader = new FileReader();
                        fileReader.onload = e => {
                            this.filePath = e.target.result;
                        }
                        fileReader.readAsDataURL(input.files[0]);
                    } else {
                        this.filePath = 'https://semantic-ui.com/images/wireframe/image.png';
                    }
                },
                triggerInputFile() {
                    let input = this.$refs.adminProfileImg;
                    input.click();
                },
                CardOpen() {
                    app.isCardModalActive = true;
                },
                validateForm(scope) {
                    console.log(this.$validator.fields.items);
                    this.$validator.validateAll(scope).then((result) => {
                        if (result) {
                            console.log(result);
                            app.isCardModalActive = true;
                        } else {
                            alert('Correct them errors!');
                        }
                    });
                }
            }
        })
        var registerForm = document.getElementById("registerForm");
        function passer(token) {
            var StripeHidden = document.getElementById('StripeHidden');
            StripeHidden.value = token;
            submitForm();         
        }

        function submitForm() {
            registerForm.submit();
        }

    </script>
}
