﻿@model PayViewModel
@{
    ViewData["Title"] = "Reciept";
}

@section styles {

}
    <script src="https://js.stripe.com/v3/"></script>

<section class="section">
    <div class="container">
        <p>Thank you for purchasing! </p>
        <p>Please check your email for an e-ticket!</p>
        <p>Show the e-ticket at the event and you're in!</p>
        <p>Have a good day!</p>
    </div>
</section>

@section scripts {
    <script>
        let app = new Vue({
            el: "#app",
            data() {
                return {
                    data: [],
                    total: 0,
                    loading: false
                }
            }
        });

    </script>
}