﻿@model PayViewModel
@{
    ViewData["Title"] = "Pay";
}

@section styles {

    <style>
        button {
            width: 100%;
        }
    </style>
}
    <script src="https://js.stripe.com/v3/"></script>

<section class="section">
    <div class="container">
        <p class="title">@Model.BotName</p>
        <p class="subtitle">@Model.CompanyName</p>

        <form id="mainForm" asp-controller="Payment" asp-action="BuyEventTickets" asp-route-botUserId="@Model.BotUserId">
            <b-table :data="data"
                     :loading="loading"
                     striped>
                <template v-if="props.row.max>0" slot-scope="props">
                    <b-table-column field="name" label="Name">
                        {{ props.row.name }}<br>
                        {{ props.row.description }}
                    </b-table-column>

                    <b-table-column field="price" label="Price">
                        ${{ props.row.price }}
                    </b-table-column>

                    <b-table-column field="Ticket Left" label="Ticket Left">
                        {{ props.row.max - props.row.sold }} 
                    </b-table-column>

                    <b-table-column field="quantity" label="Quantity">
                        <input type="hidden" :name="`items[${props.index}].id`" :value="props.row.id">
                        <b-input :name="`items[${props.index}].quantity`"
                                 type="number"
                                 v-model="props.row.quantity" v-bind:max="props.row.max - props.row.sold">
                        </b-input>
                    </b-table-column>

                    <b-table-column field="subtotal" label="Subtotal">
                        ${{ props.row.quantity * props.row.price }}
                    </b-table-column>
                </template>

                <template slot="empty">
                    <section class="section">
                        <div class="content has-text-grey has-text-centered">
                            <p>
                                <b-icon icon="emoticon-sad"
                                        size="is-large">
                                </b-icon>
                            </p>
                            <p>Nothing to buy here.</p>
                        </div>
                    </section>
                </template>
            </b-table>
            <p class="subtitle is-3 is-pulled-right">Total: ${{ totalPrice }}</p>
            <b-input id="StripeHidden" name="StripeTransactionId" type="hidden"></b-input>
            <b-input id="EmailHidden" name="Email" type="hidden"></b-input>
            <b-input id="EventId" name="EventId" type="hidden" value="@Model.EventId"></b-input>
            <div id="finalPay">
                <button type="submit" class="button is-block is-cyan is-large">Pay</button>
            </div>
        </form>
        <div id="nextButton">
            <button type="button" class="button is-block is-cyan is-large" onclick="next()">Next</button>
        </div>
        <form id="form2">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" id="data-name" placeholder="Name" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input id="data-email" class="input" type="email" placeholder="Email" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Address</label>
                <div class="control">
                    <input class="input" type="text" id="data-address" placeholder="Address" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Zipcode</label>
                <div class="control">
                    <input class="input" type="number" id="data-zip" placeholder="Zipcode" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Card Details</label>
                <div id="example1-card"></div>
            </div>
            <br />

            <button type="submit" class="button is-block is-cyan is-large">Next</button>
            <br />
            <div id="goBackButton">
                <button type="button" class="button is-block is-cyan is-large" onclick="goBackb()">Back</button>
            </div>
        </form>
        <div  id="loading">
            <img style="width:40%; margin-left:30%; margin-right:25%;" src="~/image/loading.gif" />
        </div>
    </div>
</section>

@section scripts {
    <script>
        let app = new Vue({
            el: "#app",
            data() {
                return {
                    data: [],
                    total: 0,
                    loading: false
                }
            },
            methods: {
                /*
                 * Load async data
                 */
                loadAsyncData() {
                    this.loading = true
                    axios.get(`/local/Payment/GetEventTickets/@Model.EventId`)
                        .then(({ data }) => {
                            this.data = data;
                            this.loading = false;
                        })
                        .catch((error) => {
                            this.data = []
                            this.total = 0
                            this.loading = false
                            throw error
                        })
                }
            },
            mounted() {
                this.loadAsyncData()
            },
            computed: {
                totalPrice() {
                    let sum = 0;
                    for (let i = this.data.length - 1; i >= 0; i--) {
                        sum += this.data[i].quantity * this.data[i].price;
                    }
                    return sum;
                }
            }
        });

        var stripe = Stripe('pk_test_OexCkbFIAvIVWTy9f5riCBJP');

        var elements = stripe.elements({
            fonts: [
                {
                    cssSrc: 'https://fonts.googleapis.com/css?family=Roboto',
                },
            ],
            // Stripe's examples are localized to specific languages, but if
            // you wish to have Elements automatically detect your user's locale,
            // use `locale: 'auto'` instead.
            locale: window.__exampleLocale
        });

        var card = elements.create('card', {
            iconStyle: 'solid',
            style: {
                base: {
                    iconColor: '#01C4A7',
                    color: '#000000',
                    fontWeight: 500,
                    fontFamily: 'Roboto, Open Sans, Segoe UI, sans-serif',
                    fontSize: '25px',
                    fontSmoothing: 'antialiased',

                    ':-webkit-autofill': {
                        color: '#000000',
                    },
                    '::placeholder': {
                        color: '#01C4A7',
                    },
                },
                invalid: {
                    iconColor: '#FF3860',
                    color: '#FF3860',
                },
            },
        });
        card.mount('#example1-card');

        var finalPay = document.getElementById('finalPay');
        var form2 = document.getElementById('form2');
        var mainForm = document.getElementById('mainForm');
        var nextButton = document.getElementById('nextButton');
        var goBack = document.getElementById('goBack');
        var loading = document.getElementById('loading');

        var StripeHidden = document.getElementById('StripeHidden');
        var EmailHidden = document.getElementById('EmailHidden');

        function InitialHide() {
            finalPay.style.display = 'none';
            form2.style.display = 'none';
            loading.style.display = 'none';
        }
        InitialHide();

        function next() { 
            loading.style.display = 'none';
            mainForm.style.display = 'none';
            nextButton.style.display = 'none';
            form2.style.display = '';
        }

        function goBackb() {
            mainForm.style.display = '';
            nextButton.style.display = '';
            form2.style.display = 'none';
            loading.style.display = 'none';
        }

        function showLoading() { 
            loading.style.display = '';
            mainForm.style.display = 'none';
            nextButton.style.display = 'none';
            form2.style.display = 'none';
        }
        function showLastStep() {
            finalPay.style.display = '';
            form2.style.display = 'none';
            loading.style.display = 'none';
            nextButton.style.display = 'none';
            mainForm.style.display = '';
        }
        form2.addEventListener('submit', function (e) {
            e.preventDefault();
            showLoading();
            try {
                // Gather additional customer data we may have collected in our form.
                var name = form2.querySelector('#data-name');
                var address1 = form2.querySelector('#data-address');
                var zip = form2.querySelector('#data-zip');
                var email = form2.querySelector('#data-email');
                var additionalData = {
                    name: name ? name.value : undefined,
                    address_line1: address1 ? address1.value : undefined,
                    address_zip: zip ? zip.value : undefined,
                };
                
                // Use Stripe.js to create a token. We only need to pass in one Element
                // from the Element group in order to create a token. We can also pass
                // in the additional customer data we collected in our form.
                stripe.createToken(card, additionalData).then(function (result) {

                    if (result.token) {
                        // If we received a token, send token over to server
                        var token = result.token.id;
                        //var transactionID = document.getElementById('TransactionID').innerHTML;
                        StripeHidden.value = token;
                        EmailHidden.value = email.value;
                        showLastStep();
                    } else {
                        toaster.$toast.open('Please check your credit card number!');
                        next();
                    }
                })
            } catch (err) {
                toaster.$toast.open('Please check your credit card number!');
                next();
            }
        });
        mainForm.addEventListener('submit', function (e) {
            showLoading();
            return true;
         })
    </script>
}