﻿
<script src="https://js.stripe.com/v3/"></script>

<div class="content">
    <h3 class="title has-text-grey">Credit Card Details</h3>
    <form onsubmit="loadStripe(); return false;" id="cardForm">
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" id="data-name" placeholder="Name" required>
            </div>
        </div>
        <div class="field">
            <label class="label">Address</label>
            <div class="control">
                <input class="input" type="text" id="data-address" placeholder="Address" required>
            </div>
        </div>
        <div class="field">
            <label class="label">Zipcode</label>
            <div class="control">
                <input class="input" type="number" id="data-zip" placeholder="Zipcode" required>
            </div>
        </div>
        <div class="field">
            <label class="label">Card Details</label>
            <div id="card_det">
            </div>
        </div>
        <br />

        <button type="submit" style="width:100%;" class="button is-block is-cyan is-large">Submit</button>
        <br />
        <button type="button" id="skipBtn" style="width:100%;" onclick="skip();" class="button is-block is-cyan is-large">Skip</button>
        <br />

    </form>

    <div id="loading">
        <img style="width:40%; margin-left:30%; margin-right:25%;" src="~/image/loading.gif" />
    </div>
</div>
<script>
    var stripe = Stripe('pk_test_OexCkbFIAvIVWTy9f5riCBJP');
    var elements = stripe.elements({
        fonts: [
            {
                cssSrc: 'https://fonts.googleapis.com/css?family=Roboto',
            },
        ],
        // Stripe's examples are localized to specific languages, but if
        // you wish to have Elements automatically detect your user's locale,
        // use `locale: 'auto'` instead.
        locale: window.__exampleLocale
    });

    var card = elements.create('card', {
        iconStyle: 'solid',
        style: {
            base: {
                iconColor: '#01C4A7',
                color: '#000000',
                fontWeight: 500,
                fontFamily: 'Roboto, Open Sans, Segoe UI, sans-serif',
                fontSize: '25px',
                fontSmoothing: 'antialiased',

                ':-webkit-autofill': {
                    color: '#000000',
                },
                '::placeholder': {
                    color: '#01C4A7',
                },
            },
            invalid: {
                iconColor: '#FF3860',
                color: '#FF3860',
            },
        },
    });

    card.mount('#card_det');

    var cardForm = document.getElementById('cardForm');
    var loading = document.getElementById('loading');
    loading.style.display = 'none';
    get();
    function showLoading() {
        loading = document.getElementById('loading');
        loading.style.display = '';
        cardForm = document.getElementById('cardForm');
        cardForm.style.display = 'none';
    }
    function hideLoading() {
        loading = document.getElementById('loading');
        loading.style.display = 'none';
        cardForm = document.getElementById('cardForm');
        cardForm.style.display = '';
    }

    function skip(){
        showLoading();
        parent.submitForm();
    }

    function toHide() { 
        var skipBtn = document.getElementById('skipBtn');
        skipBtn.style.visibility = 'hidden';
    }

    function loadStripe(){
        //e.preventDefault();
        cardForm = document.getElementById('cardForm');
        showLoading();
        try {
            // Gather additional customer data we may have collected in our form.
            var name = cardForm.querySelector('#data-name');
            var address1 = cardForm.querySelector('#data-address');
            var zip = cardForm.querySelector('#data-zip');
            var additionalData = {
                name: name ? name.value : undefined,
                address_line1: address1 ? address1.value : undefined,
                address_zip: zip ? zip.value : undefined,
            };

            //console.dir(card)
            // Use Stripe.js to create a token. We only need to pass in one Element
            // from the Element group in order to create a token. We can also pass
            // in the additional customer data we collected in our form.
            stripe.createToken(card, additionalData).then(function (result) {

                if (result.token) {
                    // If we received a token, send token over to server
                    var token = result.token.id;
                    parent.passer(token);

                } else {
                    toaster.$toast.open('Please check your credit card number!');
                }
            })
        } catch (err) {
            toaster.$toast.open('Please check your credit card number!');
        }
    };

    function get(){
        var checker = getQueryVariable('toHide');
        console.log(checker);
        if(checker){
            toHide();
        }
    }

    function getQueryVariable(variable)
    {
           var query = window.location.search.substring(1);
           var vars = query.split("&");
           for (var i=0;i<vars.length;i++) {
                   var pair = vars[i].split("=");
                   if(pair[0] == variable){return pair[1];}
           }
           return(false);
    }
</script>

