﻿
@{
    ViewData["Title"] = "ViewAllReserved";
    Layout = "~/Views/Shared/_NavBarLayout.cshtml";
}

<div id="app" class="container">
    <b-field label="Search by transaction id">
        <b-input v-model="search" />
    </b-field>
    <b-table :data="filter" :mobile-cards="true" :bordered="true" :hoverable="true"
             paginated per-page="20">
        <template slot-scope="props">
            <b-table-column field="transactionId" label="ID">
                {{ props.row.transactionId }}
            </b-table-column>

            <b-table-column field="amount" label="Amount" sortable>
                {{ props.row.amount }}
            </b-table-column>

            <b-table-column field="itemName" label="Item Name" sortable>
                {{ props.row.itemName }}
            </b-table-column>

            <b-table-column field="quantity" label="Quantity" sortable>
                {{ props.row.quantity }}
            </b-table-column>

            <b-table-column field="status" label="Status" sortable>
                {{ statusDescrip[props.row.status] }}
            </b-table-column>

            <b-table-column field="links" label="" sortable>
                <button class="button" @@click="redeemTicket(props.row.id, props.index)">
                    Redeem Tickets
                </button>
            </b-table-column>

        </template>

        <template slot="empty">
            <section class="section">
                <div class="content has-text-grey has-text-centered">
                    <p>
                        <b-icon icon="emoticon-sad"
                                size="is-large">
                        </b-icon>
                    </p>
                    <p>No reserved transaction.</p>
                </div>
            </section>
        </template>
    </b-table>
</div>

@section scripts{
    <script>
        const app = new Vue({
            el:"#app",
            data:{
                transaction: [],
                eventId:window.location.href.split("/").pop(),
                statusDescrip: ['Cancelled','Pending','Completed','Reserved','Redeemed'],
            },
            methods:{
                async redeemTicket(id,index){
                    try {
                        const response = await axios.put(`/Transaction/putRedeemTransaction/${id}`)
                        this.transaction.splice(index,1)
                        this.$dialog.alert('Tickets has been redeemed')
                    } catch (e) {
                        console.log(e)
                    }
                }
            },
            computed: {
                filter() {
                    var regex = new RegExp(this.search, 'i')
                    var data = []
                    for (i in this.transaction) {
                        if (this.transaction[i].transactionId.match(regex)) {
                            data.push(this.transaction[i])
                        }
                    }
                    return data
                }
            },
            async mounted(){
                try {
                    const response = await axios.get(`/Transaction/getAllReserved/${this.eventId}`)
                    this.transaction = response.data
                } catch (e) {
                    console.log(e)
                }
            },
        })
    </script>
}