﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NavBarLayout.cshtml";
}

<div id="app" class="container">
    <label style="float: right;">
        Total amount: {{totalAmount}}
    </label>
    <b-field label="Search by transaction id: ">
        <b-input v-model="search" />
    </b-field>
    <label class="label">Filter: </label>
    <div class="select is-rounded">
        <select v-model="statusFilder">
            <option value="-1"> All</option>
            <option value="2"> Completed</option>
            <option value="4"> Redeemed</option>
        </select>
    </div>
    <b-table :data="filter" :mobile-cards="true" :bordered="true" :hoverable="true"
             paginated per-page="20">
        <template slot-scope="props">
            <b-table-column field="transactionId" label="Transaction Id">
                {{ props.row.transactionId }}
            </b-table-column>

            <b-table-column field="adminName" label="Admin Name" sortable>
                {{ props.row.adminName }}
            </b-table-column>

            <b-table-column field="adminId" label="Admin Id">
                {{ props.row.adminId }}
            </b-table-column>

            <b-table-column field="companyName" label="Company Name" sortable>
                {{ props.row.companyName }}
            </b-table-column>

            <b-table-column field="companyId" label="Company Id">
                {{ props.row.companyId }}
            </b-table-column>

            <b-table-column field="amount" label="Amount" sortable>
                {{ props.row.amount }}
            </b-table-column>

            <b-table-column field="itemName" label="Item Name" sortable>
                {{ props.row.itemName }}
            </b-table-column>

            <b-table-column field="itemId" label="Item Id">
                {{ props.row.itemId }}
            </b-table-column>

            <b-table-column field="quantity" label="Quantity" sortable>
                {{ props.row.quantity }}
            </b-table-column>

            <b-table-column field="status" label="Status" sortable>
                {{ statusDescrip[props.row.status] }}
            </b-table-column>
        </template>

        <template slot="empty">
            <section class="section">
                <div class="content has-text-grey has-text-centered">
                    <p>
                        <b-icon icon="emoticon-sad"
                                size="is-large">
                        </b-icon>
                    </p>
                    <p>No transaction.</p>
                </div>
            </section>
        </template>
    </b-table>
</div>

@section scripts{
<script>
        const app = new Vue({
            el:"#app",
            data:{
                transaction: [],
                eventId:window.location.href.split("/").pop(),
                statusDescrip: ['Cancelled', 'Pending', 'Completed', 'Reserved', 'Redeemed'],
                search: '',
                statusFilder: -1
            },
            computed: {
                filter() {
                    var regex = new RegExp(this.search, 'i')
                    var data = []
                    for (i in this.transaction) {
                        if (this.transaction[i].transactionId.match(regex)
                            && (this.transaction[i].status == this.statusFilder || this.statusFilder == -1)) {
                            data.push(this.transaction[i])
                        }
                    }
                    return data
                },
                totalAmount() {
                    return this.transaction.reduce((acc, cur) => { 
                        return cur.amount+ acc
                    },0)
                }
            },
            async mounted(){
                try {
                    const response = await axios.get(`/Transaction/getAllTransaction/${this.eventId}`)
                    this.transaction = response.data
                } catch (e) {
                    console.log(e)
                }
            },
        })
</script>
}