﻿@model EventViewModel

@{
    ViewData["Title"] = "Add Event";
}

<section class="section">
    <div class="container">
        <form asp-controller="Workspace"
              asp-action="AddBotEvent"
              asp-route-id="@Model.BotId"
              enctype="multipart/form-data">
            <b-field label="Event Image">
                <b-field>
                    <figure class="image is-256x256-tablet" style="max-width:300px;">
                        <img :src="filePath"
                             v-on:click="triggerInputFile"
                             alt="Event image">
                    </figure>
                    <input ref="eventImage"
                           v-on:change="imageChange"
                           v-show="false"
                           name="EventImage"
                           type="file">
                </b-field>
            </b-field>
            <b-field label="Name">
                <b-input name="Name"></b-input>
            </b-field>
            <b-field label="Description">
                <b-input name="Description"></b-input>
            </b-field>
            <b-field label="Location">
                <b-input id="pac-input" placeholder="" name="Location"></b-input>
            </b-field>
            <b-field>
                <b-checkbox name="HasTickets" v-model="hasTickets" native-value="true">Tickets</b-checkbox>
            </b-field>

            <b-field class="has-nested" v-show="hasTickets" expanded>
                <span @@click="ConfigPush();">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="#000000" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z" />
                    </svg>
                </span>
                <span @@click="ConfigPop();" v-if="index>1">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="#000000" d="M17,13H7V11H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z" />
                    </svg>
                </span>
                <div id="rows" v-for="i in index">
                    <div class="card">
                        <div class="card-content" v-if="index!=0">

                            <b-field label="Name">
                                <b-input :name="`EventItems[${i-1}].Name`" :required="hasTickets"></b-input>
                            </b-field>

                            <b-field label="Description">
                                <b-input :name="`EventItems[${i-1}].Description`" :required="hasTickets"></b-input>
                            </b-field>

                            <b-field label="Number of tickets bot has">
                                <b-input type="number" v-model="Tickets[i-1]" pattern="(^[0-9])" :name="`EventItems[${i-1}].NumberOfTickets`" :required="hasTickets"></b-input>
                                <p class="control">
                                    <span class="button is-static">ticket(s)</span>
                                </p>
                            </b-field>

                            <b-field label="Ticket Price">
                                <p class="control">
                                    <span class="button is-static">$</span>
                                </p>
                                <b-input type="number" :name="`EventItems[${i-1}].TicketPrice`" :required="hasTickets"></b-input>
                            </b-field>
                            <b-field>
                                <b-checkbox :name="`EventItems[${i-1}].IsReservable`" v-model="IsReservable[i-1]" native-value="true">Reservable</b-checkbox>
                            </b-field>
                            <b-field v-if="IsReservable[i-1]" label="Number of tickets that can be reserved per order">
                                <b-input type="number" pattern="(^[0-9])" :name="`EventItems[${i-1}].MaxReservablePerOrder`" :max="Tickets[i-1]" :required="hasTickets&&IsReservable[i-1]"></b-input>
                                <p class="control">
                                    <span class="button is-static">ticket(s)</span>
                                </p>
                            </b-field>
                            <b-field v-if="IsReservable[i-1]" label="Number of days tickets can be reserved">
                                <b-input type="number" pattern="(^[0-9])" :name="`EventItems[${i-1}].MaxReserveHoldDays`" :required="hasTickets&&IsReservable[i-1]"></b-input>
                                <p class="control">
                                    <span class="button is-static">day(s)</span>
                                </p>
                            </b-field>
                            <b-field label="Ticket Sale Start Date and Time">
                                <b-field>
                                    <flat-pickr value="" placeholder="Ticket Sale Start Date and Time" :name="`EventItems[${i-1}].StartDateTime`" :config="DateStartConfig[i-1]" @@on-change="onStartItemChange" class="input"></flat-pickr>
                                </b-field>
                            </b-field>
                            <b-field label="Ticket Sale End Date and Time">
                                <b-field>
                                    <flat-pickr value="" placeholder="Ticket Sale End Date and Time" :name="`EventItems[${i-1}].EndDateTime`" :config="DateEndConfig[i-1]" class="input"></flat-pickr>
                                </b-field>
                            </b-field>
                        </div>
                    </div>
                </div>
            </b-field>
            <b-field label="Event Start Date and Time">
                <b-field>
                    <flat-pickr placeholder="Event Start Date and Time" value="" name="StartDateTime" :config="ExStartDate" @@on-change="onStartChange" class="input"></flat-pickr>
                </b-field>
            </b-field>
            <b-field label="Event End Date and Time">
                <b-field>
                    <flat-pickr placeholder="Event End Date and Time" value="" name="EndDateTime" :config="ExEndDate" class="input"></flat-pickr>
                </b-field>
            </b-field>
            <b-field label="Feedback release date and time">
                <b-field>
                    <flat-pickr placeholder="Feedback release date and time" value="" name="FeedbackDateTime" :config="feedbackDateconfig" class="input"></flat-pickr>
                </b-field>
            </b-field>
            <b-input id="EventStatus" name="EventStatus" type="hidden"></b-input>
            <button type="submit" ref="myBtn" hidden>Create</button>

        </form>
        <button type="submit" @@click="isCardModalActive = true">Create</button>

        <b-modal :active.sync="isCardModalActive" has-modal-card>
            <div class="card">
                <div class="content">
                    <br />
                    <label>Do you want the event to go live upon creation?</label>
                    <br />
                    <label>Live means ticket can be purchased by participants.</label>
                    <br />
                    <label> When clicking "No" event will be in draft mode.</label>
                    <br />
                    <br />
                    <button @@click="clickChoice('Start')" class="button is-primary">Yes</button>
                    <button @@click="clickChoice('Draft')" class="button is-primary">No</button>
                    <button class="button" type="button" @@click="isCardModalActive = false">Close</button>
                    <br />
                    <br />

                </div>
            </div>
        </b-modal>
    </div>
</section>

@section scripts {

    <link href="https://unpkg.com/flatpickr@4/dist/flatpickr.min.css" rel="stylesheet">
    <script src="https://unpkg.com/flatpickr@4/dist/flatpickr.min.js"></script>
    <script src="https://unpkg.com/vue-flatpickr-component@7"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script>
        window.addEventListener('keydown', function (e) { if (e.keyIdentifier == 'U+000A' || e.keyIdentifier == 'Enter' || e.keyCode == 13) { if (e.target.nodeName == 'INPUT' && e.target.type == 'text') { e.preventDefault(); return false; } } }, true);

        Vue.component('flat-pickr', VueFlatpickr)
        let app = new Vue({
            el: '#app',
            data() {
                return {
                    file: [],
                    filePath: 'https://semantic-ui.com/images/wireframe/image.png',
                    DateStartConfig: [],
                    DateEndConfig: [],
                    isCardModalActive: false,
                    Tickets: [],
                    IsReservable: [],
                    hasTickets: false,
                    index: 0,
                    datePickerConfig:
                        {
                            minDate: "today",
                            enableTime: true,
                            dateFormat: "m/d/Y H:i"
                        },
                    feedbackDateconfig:
                        {
                            minDate: "today",
                            enableTime: true,
                            dateFormat: "m/d/Y H:i"
                        },
                    ExStartDate: {
                        minDate: "today",
                        enableTime: true,
                        dateFormat: "m/d/Y H:i"
                    },
                    ExEndDate: {
                        minDate: "today",
                        enableTime: true,
                        dateFormat: "m/d/Y H:i"
                    },
                    clickChoice: function (chosenValue) {
                        var EventStatus = document.getElementById('EventStatus');
                        EventStatus.value = chosenValue;
                        const elem = this.$refs.myBtn
                        elem.click()
                    },
                    onStartChange: function (selectedDates, dateStr, instance) {
                        app.ExEndDate.minDate = dateStr;
                    },
                    ConfigPush: function () {
                        var newStartConfig = {
                            minDate: "today",
                            enableTime: true,
                            dateFormat: "m/d/Y H:i"
                        }
                        var newEndConfig = {
                            minDate: "today",
                            enableTime: true,
                            dateFormat: "m/d/Y H:i"
                        }
                        app.DateStartConfig.push(newStartConfig);
                        app.DateEndConfig.push(newEndConfig);
                        app.IsReservable.push(false);
                        app.Tickets.push(0);
                        app.index++;
                    },
                    ConfigPop: function () {
                        app.DateStartConfig.pop();
                        app.DateEndConfig.pop();
                        app.IsReservable.pop();
                        app.Tickets.pop();
                        app.index--;
                    },
                    onStartItemChange: function (selectedDates, dateStr, instance) {
                        let name = instance.element.name;
                        let newArrayForName = name.split('[');
                        let index = parseInt(newArrayForName[1].charAt(0));
                        console.log(index)
                        app.DateEndConfig[index].minDate = dateStr;
                    },
                    imageChange: function (e) {
                        let input = e.target;
                        if (input.files && input.files[0]) {
                            let fileReader = new FileReader();
                            fileReader.onload = e => {
                                app.filePath = e.target.result;
                            }
                            fileReader.readAsDataURL(input.files[0]);
                            console.log(input.files.length);
                        } else {
                            app.filePath = 'https://semantic-ui.com/images/wireframe/image.png';
                        }
                    },
                    triggerInputFile: function () {
                        let input = app.$refs.eventImage;
                        input.click();
                    }
                }
            }
        })

        app.ConfigPush();

        function initMap() {

            var input = document.getElementById('pac-input');

            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.setTypes([]);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyn45O4p-9p-Xc1C3F2t_y_9QpCSmeoU4&libraries=places&callback=initMap"
            async defer></script>
}