﻿@model NyxDatabase.Models.Event

@{
    ViewData["Title"] = "Add Ticket";
}

<section class="section">
    <div class="container">
        <form asp-controller="Workspace"
              asp-action="AddBotEventItem"
              asp-route-id="@Model.Id">

            <b-field label="Name">
                <b-input name="Name"></b-input>
            </b-field>

            <b-field label="Description">
                <b-input name="Description"></b-input>
            </b-field>

            <b-field label="Number of tickets bot has">
                <b-input type="number" v-model="Ticket" pattern="([0-9])" name="NumberOfTickets"></b-input>
                <p class="control">
                    <span class="button is-static">ticket(s)</span>
                </p>
            </b-field>

            <b-field label="Ticket Price">
                <p class="control">
                    <span class="button is-static">$</span>
                </p>
                <b-input type="number" name="TicketPrice"></b-input>
            </b-field>
            <b-field>
                <b-checkbox name="IsReservable`" v-model="IsReservable" native-value="true">Reservable</b-checkbox>
            </b-field>
            <b-field v-if="IsReservable" label="Number of tickets that can be reserved per order">
                <b-input type="number" pattern="([0-9])" :max="Ticket" name="MaxReservablePerOrder"></b-input>
                <p class="control">
                    <span class="button is-static">ticket(s)</span>
                </p>
            </b-field>
            <b-field v-if="IsReservable" label="Number of days tickets can be reserved">
                <b-input type="number" pattern="([0-9])" name="MaxReserveHoldDays"></b-input>
                <p class="control">
                    <span class="button is-static">day(s)</span>
                </p>
            </b-field>
            <b-field label="Ticket Sale Start Date and Time">
                <b-field>
                    <flat-pickr placeholder="Ticket Sale Start Date and Time" value="" name="StartDateTime" :config="ExStartDate" @@on-change="onStartChange" class="input"></flat-pickr>
                </b-field>
            </b-field>
            <b-field label="Ticket Sale End Date and Time">
                <b-field>
                    <flat-pickr placeholder="Ticket Sale End Date and Time" value="" name="EndDateTime" :config="ExEndDate" class="input"></flat-pickr>
                </b-field>
            </b-field>
            <button type="submit">Add</button>
        </form>
    </div>
</section>

@section scripts {

    <link href="https://unpkg.com/flatpickr@4/dist/flatpickr.min.css" rel="stylesheet">
    <script src="https://unpkg.com/flatpickr@4/dist/flatpickr.min.js"></script>
    <script src="https://unpkg.com/vue-flatpickr-component@7"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script>
        Vue.component('flat-pickr', VueFlatpickr);
        let app = new Vue({
            el: '#app',
            data() {
                return {
                    Ticket: 0,
                    IsReservable: false,
                    datePickerConfig:
                    {
                        minDate: "today",
                        enableTime: true,
                        dateFormat: "m/d/Y H:i"
                    },
                    ExStartDate: {
                        minDate: "today",
                        enableTime: true,
                        dateFormat: "m/d/Y H:i"
                    },
                    ExEndDate: {
                        minDate: "today",
                        enableTime: true,
                        dateFormat: "m/d/Y H:i"
                    },
                    onStartChange: function (selectedDates, dateStr, instance) {
                        app.ExEndDate.minDate = dateStr;
                    },
                }
            }
        })

    </script>
}