﻿
@{
    ViewData["Title"] = "Your Bots";
}

<section class="section">
    <div class="container">
        <a asp-controller="Workspace" asp-action="CreateBot" class="button">Create bot</a>
        <div class="columns is-multiline">
            @foreach (var bot in Model)
            {
                <div class="column has-text-centered is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p class="title">@bot.Name</p>
                                <p class="subtitle">@bot.Type</p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a asp-controller="Analytics" asp-action="Index" asp-route-id="@bot.Id" class="card-footer-item">Analytics</a>
                            <a asp-controller="Workspace" asp-action="Details" asp-route-id="@bot.Id" class="card-footer-item">Details</a>

                            <div class="dropdown is-hoverable is-right card-footer-item">
                                <div class="dropdown-trigger">
                                    Support<i class="mdi mdi-chevron-down"></i>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                    <div class="dropdown-content">
                                        <a asp-controller="CustomerSupport" asp-action="Chat" asp-route-id="@bot.Id" class="dropdown-item">Chat</a>
                                        <a asp-controller="CustomerSupport" asp-action="EditQuestion" asp-route-id="@bot.Id" class="dropdown-item">Edit Q&A</a>
                                        <a asp-controller="CustomerSupport" asp-action="EditSmallTalk" asp-route-id="@bot.Id" class="dropdown-item">Edit Small Talk</a>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown is-hoverable is-right card-footer-item">
                                <div class="dropdown-trigger">
                                    Admin Panel<i class="mdi mdi-chevron-down"></i>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                    <div class="dropdown-content">
                                        <a asp-controller="Workspace" asp-action="ViewVolunteers" asp-route-id="@bot.Id" class="navbar-item">View All Volunteers</a>
                                        <a asp-controller="Workspace" asp-action="ViewGeneralFeedback" asp-route-id="@bot.Id" class="navbar-item">View All General Feedback</a>
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            }
        </div>
    </div>
</section>