﻿@model BotViewModel
@{
    ViewData["Title"] = "Create bot";
}
@section styles {
    <style>
        form {
            max-width: 500px;
            margin: auto;
        }
    </style>
}

    <section class="section">
        <form-wizard title="Create a Bot" subtitle="" v-on:on-complete="finish">
            <tab-content title="Plan">
                <div class="columns is-multiline">
                    @foreach (var plan in Model.Plans)
                    {
                        <div class="column">
                            <div :class="{selected: '@plan.Id' === planId}" class="card" v-on:click="planClick('@plan.Id', '@plan.StripePlanId')">
                                <div class="card-content">
                                    <div class="content">
                                        <p class="title">@plan.Name</p>
                                        <p>@plan.Description</p>
                                        <p>$@plan.Price</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </tab-content>
            <tab-content title="Type">
                <div class="columns is-multiline">
                    <div class="column">
                        <div :class="{selected: 'GRC' === type}" class="card" v-on:click="typeClick('GRC')">
                            <div class="card-content">
                                <div class="content">
                                    <p class="title">GRC</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div :class="{selected: 'Shop' === type}" class="card" v-on:click="typeClick('Shop')">
                            <div class="card-content">
                                <div class="content">
                                    <p class="title">Shop</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab-content>
            <tab-content :title="type">
                <form ref="grcForm"
                      asp-controller="Workspace"
                      asp-action="CreateGrcBot"
                      enctype="multipart/form-data"
                      v-if="type === 'GRC'">
                    <b-field label="Name of Bot">
                        <b-input name="Name"></b-input>
                    </b-field>
                    <b-input name="Type" type="hidden" v-model="type"></b-input>
                    <b-input name="PlanId" type="hidden" v-model="planId"></b-input>
                    <b-input name="StripePlanId" type="hidden" v-model="stripePlanId"></b-input>
                    <b-input id="StripeCustomerIdG" name="StripeCustomerId" type="hidden" v-model="stripeCustomerId"></b-input>
                    <b-field label="Welcome Message">
                        <b-input name="WelcomeMessage"></b-input>
                    </b-field>
                    <b-field label="Unable to Answer Message">
                        <b-input name="NoAnswerFoundMessage"></b-input>
                    </b-field>
                    <b-field label="Request Contact Details Message">
                        <b-input name="RequestContactDetailsMessage"></b-input>
                    </b-field>
                    <b-field label="User Agree Contact Message">
                        <b-input name="UserAgreeContactMessage"></b-input>
                    </b-field>
                    <b-field label="User Disagree Contact Message">
                        <b-input name="UserDisagreeContactMessage"></b-input>
                    </b-field>
                    <b-field label="User Swear Message">
                        <b-input name="UserSwearMessage"></b-input>
                    </b-field>
                    <b-field label="Ask User Useful Message">
                        <b-input name="AskUserUsefulMessage"></b-input>
                    </b-field>
                    <b-field label="Ask User Useful Percentage">
                        <b-input name="AskUserUsefulPercentage"></b-input>
                    </b-field>
                    <b-field label="Volunteer Url">
                        <b-input name="VolunteerUrl"></b-input>
                    </b-field>
                    <b-field label="Address Line 1">
                        <b-input name="AddressLine1"></b-input>
                    </b-field>
                    <b-field label="Address Line 2">
                        <b-input name="AddressLine2"></b-input>
                    </b-field>
                    <b-field label="Postal Code">
                        <b-input name="PostalCode"></b-input>
                    </b-field>
                    <b-field label="Team Image Infographic">
                        <b-field>
                            <figure class="image is-256x256-tablet" style="max-width:300px;">
                                <img :src="filePath"
                                     v-on:click="triggerInputFile"
                                     alt="Team Image">
                            </figure>
                            <input ref="teamImage"
                                   v-on:change="imageChange"
                                   v-show="false"
                                   name="TeamImage"
                                   type="file">
                        </b-field>
                    </b-field>
                </form>
                <form ref="shopForm"
                      asp-controller="Workspace"
                      asp-action="CreateShopBot"
                      v-else-if="type === 'Shop'">
                    <b-field label="Name of Bot">
                        <b-input name="Name"></b-input>
                    </b-field>
                    <b-input name="Type" type="hidden" v-model="type"></b-input>
                    <b-input name="PlanId" type="hidden" v-model="planId"></b-input>
                    <b-input name="StripePlanId" type="hidden" v-model="stripePlanId"></b-input>
                    <b-input id="StripeCustomerIdS" name="StripeCustomerId" type="hidden" v-model="stripeCustomerId"></b-input>
                    <b-field label="Welcome Message">
                        <b-input name="WelcomeMessage"></b-input>
                    </b-field>
                    <b-field label="Unable to Answer Message">
                        <b-input name="NoAnswerFoundMessage"></b-input>
                    </b-field>
                    <b-field label="Request Contact Details Message">
                        <b-input name="RequestContactDetailsMessage"></b-input>
                    </b-field>
                    <b-field label="User Agree Contact Message">
                        <b-input name="UserAgreeContactMessage"></b-input>
                    </b-field>
                    <b-field label="User Disagree Contact Message">
                        <b-input name="UserDisagreeContactMessage"></b-input>
                    </b-field>
                    <b-field label="User Swear Message">
                        <b-input name="UserSwearMessage"></b-input>
                    </b-field>
                    <b-field label="Ask User Useful Message">
                        <b-input name="AskUserUsefulMessage"></b-input>
                    </b-field>
                    <b-field label="Ask User Useful Percentage">
                        <b-input name="AskUserUsefulPercentage"></b-input>
                    </b-field>
                    <b-field label="Address Line 1">
                        <b-input name="AddressLine1"></b-input>
                    </b-field>
                    <b-field label="Address Line 2">
                        <b-input name="AddressLine2"></b-input>
                    </b-field>
                    <b-field label="Postal Code">
                        <b-input name="PostalCode"></b-input>
                    </b-field>
                    <b-field label="Mail list Page (Url)" expanded>
                        <b-field>
                            <p class="control">
                                <span class="button is-static">https://</span>
                            </p>
                            <b-input type="url" name="Mailing" expanded></b-input>
                        </b-field>
                    </b-field>
                    <b-field label="Website (Url)" expanded>
                        <b-field>
                            <p class="control">
                                <span class="button is-static">https://</span>
                            </p>
                            <b-input type="url" name="Website" expanded></b-input>
                        </b-field>
                    </b-field>
                    <div class="field">
                        <b-checkbox name="HasExchange" v-model="shop.exchangable" native-value="true">Exchangable</b-checkbox>
                    </div>
                    <b-field class="has-nested" v-show="shop.exchangable" expanded>
                        <b-field>
                            <b-checkbox name="NeedExchangeReceipt" native-value="true">Need Receipt for Exchange</b-checkbox>
                        </b-field>
                        <b-field label="Exchange Within">
                            <b-field>
                                <b-input type="number" maxlength="3" pattern="([0-9])\w{3}" name="ExchangeWithin" expanded></b-input>
                                <p class="control">
                                    <span class="button is-static">day(s)</span>
                                </p>
                            </b-field>
                        </b-field>
                    </b-field>
                    <b-field>
                        <b-checkbox name="HasGiftWrap" native-value="true">Gift Wrapping Available</b-checkbox>
                    </b-field>
                    <b-field>
                        <b-checkbox name="HasDelivery" native-value="true">Local Delivery Available</b-checkbox>
                    </b-field>
                    <b-field>
                        <b-checkbox name="HasShipping" v-model="shop.hasShipping" native-value="true">Shipping Available</b-checkbox>
                    </b-field>
                    <b-field class="has-nested" label="Please select countries you ship to" v-show="shop.hasShipping">
                        <b-field label="Selected Countries">
                            <b-tag v-for="country in shop.shippingCountries" :key="country" rounded>{{ country }}</b-tag>
                        </b-field>
                        <b-field>
                            <b-select multiple
                                      native-size="8"
                                      name="ShippingCountries"
                                      v-model="shop.shippingCountries">
                                @foreach (var country in @Model.Countries)
                                {
                                    <option value="@country">@country</option>
                                }
                            </b-select>
                        </b-field>
                    </b-field>
                </form>
            </tab-content>
        </form-wizard>

        <b-modal :active.sync="isCardModalActive" has-modal-card>
            <div style="height:600px; width:600px;" class="card">
                <iframe id="IFramePayment" height="600" width="600" src="/Payment/IFramePaymentDetails?toHide=true"></iframe>
            </div>
        </b-modal>
    </section>

@section scripts {
    <script>
        let app = new Vue({
            el: '#app',
            data () {
                return {
                    file: [],
                    filePath: 'https://semantic-ui.com/images/wireframe/image.png',
                    planId: null,
                    stripePlanId: null,
                    stripeCustomerId:'@Model.StripeCustomerId',
                    isCardModalActive:false,
                    type: '',
                    shop: {
                        exchangable: false,
                        hasShipping: false,
                        shippingCountries: [],
                    }
                }
            },
            methods: {
                planClick(planId, stripePlanId) {
                    this.planId = planId;
                    this.stripePlanId = stripePlanId;
                },
                typeClick (type) {
                    this.type = type;
                },
                setCustomer(id) {
                    this.stripeCustomerId = id;
                },
                finish(e) {
                    //e.preventdefault();
                    if (!app.stripeCustomerId || app.stripeCustomerId === '') {
                        app.isCardModalActive = true;
                    } else {
                        switch (this.type) {
                            case 'GRC':
                                this.$refs.grcForm.submit();
                                break;
                            case 'Shop':
                                this.$refs.shopForm.submit();
                                break;
                        }
                    }
                },
                imageChange(e) {
                        let input = e.target;
                        if (input.files && input.files[0]) {
                            let fileReader = new FileReader();
                            fileReader.onload = e => {
                                this.filePath = e.target.result;
                            }
                            fileReader.readAsDataURL(input.files[0]);
                            console.log(input.files.length);
                        } else {
                            this.filePath = 'https://semantic-ui.com/images/wireframe/image.png';
                        }
                    },
                triggerInputFile() {
                    let input = this.$refs.teamImage;
                    input.click();
                }
            }
        })

        function passer(token) {
            console.log(token)
            app.setCustomer(token);

            submitForm(app.type, token);
        }
        var registerForm = document.getElementById("registerForm");

        function submitForm(type, token) {
            switch (type) {
                case 'GRC':
                    document.getElementById("StripeCustomerIdG").value = token;
                    app.$refs.grcForm.submit();
                    break;
                case 'Shop':
                    document.getElementById("StripeCustomerIdS").value = token;
                    app.$refs.shopForm.submit();
                    break;
            }

        }

    </script>
}