﻿@{
    ViewData["Title"] = "Customer Supports";
}

<section class="section">
    <a asp-controller="Workspace" asp-action="RegisterCustomerSupport" class="button">Register new customer Support</a>
    <div class="container">
        <b-table
            :data="tables.customerSupports.data"
            :loading="tables.customerSupports.loading"

            paginated
            backend-pagination
            :total="tables.customerSupports.total"
            :per-page="tables.customerSupports.perPage"
            v-on:page-change="onCustomerSupportsPageChange"

            backend-sorting
            :default-sort-direction="tables.customerSupports.defaultSortOrder"
            :default-sort="[tables.customerSupports.sortField, tables.customerSupports.sortOrder]"
            v-on:sort="onCustomerSupportsSort">

            <template slot-scope="props">
                <b-table-column field="firstName" label="First Name" sortable centered>
                    {{ props.row.firstName }}
                </b-table-column>
                
                <b-table-column field="lastName" label="Last Name" sortable centered>
                    {{ props.row.lastName }}
                </b-table-column>

                <b-table-column field="email" label="Email" sortable centered>
                    {{ props.row.email }}
                </b-table-column>
                
                <b-table-column field=" " label="Actions" centered>
                    <a asp-controller="Workspace" asp-action="ViewCustomerSupport" class="button is-cyan">View</a>
                </b-table-column>
            </template>
            
            <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>
                            <b-icon
                                icon="emoticon-sad"
                                size="is-large">
                            </b-icon>
                        </p>
                        <p>Nothing here.</p>
                    </div>
                </section>
            </template>
        </b-table>
    </div>
</section>

@section scripts {
    <script>
        let app = new Vue({
            el: "#app",
            data() {
                return {
                    tables: {
                        customerSupports: {
                            data: [],
                            total: 0,
                            loading: false,
                            sortField: 'date',
                            sortOrder: 'desc',
                            defaultSortOrder: 'desc',
                            page: 1,
                            perPage: 20
                        }
                    }
                }
            },
            methods: {
                loadCustomerSupportsDataAsync() {
                    let table = this.tables.customerSupports
                    
                    const params = [
                        `sortBy=${table.sortField}.${table.sortOrder}`,
                        `perpage=${table.perPage}`,
                        `page=${table.page}`
                    ].join('&')
                    
                    table.loading = true
                    axios.get(`/local/Workspace/GetCustomerSupports?${params}`)
                        .then(({ data }) => {
                            table.data = []
                            table.total = data.total
                            for (let i = data.customerSupports.length - 1; i >= 0; i--) {
                                let item = data.customerSupports[i]
                                table.data.unshift(item)
                            }
                            table.loading = false
                        })
                        .catch((error) => {
                            table.data = []
                            table.total = 0
                            table.loading = false
                            throw error
                        })
                },
                /*
                 * Handle page-change event
                 */
                onCustomerSupportsPageChange(page) {
                    let table = this.tables.customerSupports
                    table.page = page
                    this.loadCustomerSupportsDataAsync()
                },
                /*
                 * Handle sort event
                 */
                onCustomerSupportsSort(field, order) {
                    let table = this.tables.customerSupports
                    table.sortField = field
                    table.sortOrder = order
                    this.loadCustomerSupportsDataAsync()
                },
            },
            mounted() {
                this.loadCustomerSupportsDataAsync()
            }
        })
    </script>
}