﻿@{
    ViewData["Title"] = "Supporting Bots";
}

@section styles {
    <style>
        form {
            display: none;
        }
    </style>
}

<section class="section">
    <button class="button is-cyan" v-on:click="saveSupportingBots" :disabled="tables.supportingBots.loading">Save</button>
    <b-table
        :data="tables.supportingBots.data"
        :loading="tables.supportingBots.loading"

        paginated
        backend-pagination
        :total="tables.supportingBots.total"
        :per-page="tables.supportingBots.perPage"
        v-on:page-change="onSupportingBotsPageChange"

        backend-sorting
        :default-sort-direction="tables.supportingBots.defaultSortOrder"
        :default-sort="[tables.supportingBots.sortField, tables.supportingBots.sortOrder]"
        v-on:sort="onSupportingBotsSort"
        :checked-rows.sync="tables.supportingBots.checkedRows"
        checkable>

        <template slot-scope="props">
            <b-table-column field="name" label="Name" sortable centered>
                {{ props.row.name }}
            </b-table-column>
            
            <b-table-column field="type" label="Type" sortable centered>
                {{ props.row.type }}
            </b-table-column>
        </template>

        <template slot="empty">
            <section class="section">
                <div class="content has-text-grey has-text-centered">
                    <p>
                        <b-icon
                            icon="emoticon-sad"
                            size="is-large">
                        </b-icon>
                    </p>
                    <p>Nothing here.</p>
                </div>
            </section>
        </template>

        <template slot="bottom-left">
            <b>Total checked</b>: {{ tables.supportingBots.checkedRows.length }}
        </template>
    </b-table>
    
    <form ref="form" asp-controller="Workspace" asp-action="EditSupportingBots" asp-route-id="@Model.Id">
    </form>
</section>

@section scripts {
    <script>
        let app = new Vue({
            el: "#app",
            data() {
                return {
                    tables: {
                        supportingBots: {
                            data: [],
                            checkedRows: [],
                            total: 0,
                            loading: false,
                            sortField: 'date',
                            sortOrder: 'desc',
                            defaultSortOrder: 'desc',
                            page: 1,
                            perPage: 20
                        }
                    }
                }
            },
            methods: {
                loadSupportingBotsDataAsync() {
                    let table = this.tables.supportingBots
                    
                    const params = [
                        `sortBy=${table.sortField}.${table.sortOrder}`,
                        `perpage=${table.perPage}`,
                        `page=${table.page}`
                    ].join('&')
                    
                    table.loading = true
                    axios.get(`/local/Workspace/GetSupportingBots?aid=@Model.Id&${params}`)
                        .then(({ data }) => {
                            table.data = []
                            table.total = data.total
                            for (let i = data.supportingBots.length - 1; i >= 0; i--) {
                                let item = data.supportingBots[i]
                                table.data.unshift(item)
                                if (item.isSupported === true)
                                    table.checkedRows.unshift(item)
                            }
                            table.loading = false
                        })
                        .catch((error) => {
                            table.data = []
                            table.total = 0
                            table.loading = false
                            throw error
                        })
                },
                /*
                 * Handle page-change event
                 */
                onSupportingBotsPageChange(page) {
                    let table = this.tables.supportingBots
                    table.page = page
                    this.loadSupportingBotsDataAsync()
                },
                /*
                 * Handle sort event
                 */
                onSupportingBotsSort(field, order) {
                    let table = this.tables.supportingBots
                    table.sortField = field
                    table.sortOrder = order
                    this.loadSupportingBotsDataAsync()
                },
                saveSupportingBots() {
                    let form = this.$refs.form
                    for (let i = this.tables.supportingBots.checkedRows.length - 1; i >= 0; i--)
                    {
                        let item = this.tables.supportingBots.data[i]
                        let idField = document.createElement("input")
                        idField.setAttribute('name', `vms[${i}].id`)
                        idField.setAttribute('value', item.id)
                        let isSupportedField = document.createElement("input")
                        isSupportedField.setAttribute('name', `vms[${i}].isSupported`)
                        isSupportedField.setAttribute('value', true)
                        
                        form.appendChild(idField)
                        form.appendChild(isSupportedField)
                    }
                    
                    form.submit()
                }
            },
            mounted() {
                this.loadSupportingBotsDataAsync()
            }
        })
    </script>
}