﻿@model ItemViewModel

@{
    ViewData["Title"] = "Edit Ticket";
}

<section class="section">
    <div class="container">
        <form asp-controller="Workspace"
              asp-action="EditBotEventItem"
              asp-route-id="@Model.Id"
              asp-route-eventId="@Model.EventId">

            <b-field label="Name">
                <b-input name="Name" value="@Model.Name"></b-input>
            </b-field>

            <b-field label="Description">
                <b-input name="Description" value="@Model.Description"></b-input>
            </b-field>
            <b-field label="Number of tickets bot has">
                <b-input type="number" pattern="(^[0-9])" v-model="Ticket" value="@Model.NumberOfItems" name="NumberOfTickets" min="@Model.TicketsSold"></b-input>
                <p class="control">
                    <span class="button is-static">ticket(s)</span>
                </p>
            </b-field>
            <b-field>
                <b-checkbox name="IsReservable" v-model="IsReservable" value="@Model.IsReservable" native-value="true">Reservable</b-checkbox>
            </b-field>
            <b-field v-if="IsReservable" label="Number of tickets that can be reserved per order">
                <b-input type="number" pattern="(^[0-9])" value="@Model.MaxReservablePerOrder" :max="Ticket" name="MaxReservablePerOrder"></b-input>
                <p class="control">
                    <span class="button is-static">ticket(s)</span>
                </p>
            </b-field>
            <b-field v-if="IsReservable" label="Number of days tickets can be reserved">
                <b-input type="number" pattern="(^[0-9])" value="@Model.MaxReserveHoldDays" name="MaxReserveHoldDays"></b-input>
                <p class="control">
                    <span class="button is-static">day(s)</span>
                </p>
            </b-field>
            <b-field label="Ticket Price">
                <p class="control">
                    <span class="button is-static">$</span>
                </p>
                <b-input type="number" name="TicketPrice" value="@Model.Price"></b-input>
            </b-field>
            <b-field label="Event Start Date and Time">
                <b-field>
                    <flat-pickr placeholder="Event Start Date and Time" value="" name="StartDateTime" :config="ExStartDate" @@on-change="onStartChange" class="input"></flat-pickr>
                </b-field>
            </b-field>
            <b-field label="Event End Date and Time">
                <b-field>
                    <flat-pickr placeholder="Event End Date and Time" value="" name="EndDateTime" :config="ExEndDate" class="input"></flat-pickr>
                </b-field>
            </b-field>
            <button type="submit">Update</button>
        </form>
        <form asp-controller="Workspace"
              asp-action="DeleteBotEventItem"
              asp-route-id="@Model.Id"
              asp-route-eventId="@Model.EventId">
            <button type="submit">Delete</button>
        </form>

    </div>
</section>

@section scripts {

    <link href="https://unpkg.com/flatpickr@4/dist/flatpickr.min.css" rel="stylesheet">
    <script src="https://unpkg.com/flatpickr@4/dist/flatpickr.min.js"></script>
    <script src="https://unpkg.com/vue-flatpickr-component@7"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>

    <script>
    let isReservable = @Model.IsReservable.ToString().ToLower();
    let startDate = new Date('@Model.StartDate.DateTime UTC');
    let endDate = new Date('@Model.EndDate.DateTime UTC');

    Vue.component('flat-pickr', VueFlatpickr);

    let app = new Vue({
        el: '#app',
        data () {
            return {
                Ticket:@Model.NumberOfItems,
                IsReservable: isReservable,
                ExStartDate: {
                        minDate: "today",
                        enableTime: true,
                        dateFormat: "m/d/Y H:i",
                        defaultDate:startDate
                },
                ExEndDate: {
                        minDate: "today",
                        enableTime: true,
                        dateFormat: "m/d/Y H:i",
                        defaultDate:endDate
                },
                onStartChange: function (selectedDates, dateStr, instance) {
                        app.ExEndDate.minDate = dateStr;
                },
            }
        }
    })

    </script>
}