﻿@{
    ViewData["Title"] = "EditQnA";
    Layout = "~/Views/Shared/_NavBarLayout.cshtml";
}
<div class="container" id="app">
    <h2>Edit Q&A</h2>
    <a style="float: right;" @@click="addQnA()">Add QnA <i class="mdi mdi-plus"></i></a><br />
    <form class="ui form" v-on:submit.prevent="publishKB">
        <div class="columns">
            <div class="column">
                Question
            </div>
            <div class="column">Answers</div>
        </div>
        <div class="field columns" v-for="(qna,index) in qnaList" style="border-bottom :1px solid rgba(219, 219, 219, 0.5)">
            <div class="column container is-fluid">
                <div class="field has-addons" v-for="(questionText, questionIndex) in qna.questions">
                    <div class="control is-expanded">
                        <input class="input " type="text" v-model="qna.questions[questionIndex]">
                    </div>
                    <div class="control">
                        <a class="button" @@click="addQuestion(index)">
                            <i class="mdi mdi-plus"></i>
                        </a>
                    </div>
                    <div class="control">
                        <a class="button" @@click="removeQuestion(index,questionIndex)">
                            <i class="mdi mdi-close"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="column container is-fluid">
                <textarea class="textarea" v-model="qna.answer"></textarea>
            </div>
            <div class="media-right">
                <a class="button" @@click="removeAnswer(index)">
                    <span class="icon is-small">
                        <i class="mdi mdi-delete"></i>
                    </span>
                </a>
            </div>
        </div>
        <input class="button is-success" v-on:submit.prevent="publishKB" type="submit" value="Save" style="position:fixed; bottom:30px; right: 30px; z-index:1000000000;" />
    </form>
    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
</div>
@section scripts {
    <script>
        function uuid() {
          var uuid = "", i, random;
          for (i = 0; i < 32; i++) {
            random = Math.random() * 16 | 0;

            if (i == 8 || i == 12 || i == 16 || i == 20) {
              uuid += "-"
            }
            uuid += (i == 12 ? 4 : (i == 16 ? (random & 3 | 8) : random)).toString(16);
          }
          return uuid;
        }
        
        const app = new Vue({
            el: "#app",
            data: {
                botId: window.location.href.split("/").pop(),
                qnaList: [],
                methodLink: "",
                isLoading: false,
            },
            computed: {
                knowledgeBase() {
                    return {
                        name: this.botId,
                        qnaList: this.qnaList
                    }
                }
            },
            methods: {
                addQuestion(index) {
                    this.qnaList[index].questions.push('')
                },
                removeQuestion(index, answerIndex) {
                    if (this.qnaList[index].questions.length == 1) {
                        const confirmation = confirm("You wil be deleting the only question wtih this answer.\nAre you sure you want to continue?")
                        if (confirmation) {
                            this.qnaList[index].questions.splice(answerIndex, 1)
                            this.qnaList[index].questions.push('')
                        }
                        return;
                    }
                    this.qnaList[index].questions.splice(answerIndex, 1)
                },
                removeAnswer(index) {
                    const confirmation = confirm("Are you sure you want to remove this answer and all the questions?")
                    if (confirmation) {
                        this.qnaList.splice(index, 1)
                    }
                },
                addQnA() {
                    this.qnaList.unshift({
                        id: uuid(),
                        answer: '',
                        source: 'User',
                        questions: [
                            ''
                        ]
                    })
                },
                async publishKB() {
                    this.isLoading = true
                    try {
                        const response = await axios.post(`/local/Workspace/${this.methodLink}/${this.botId}`,
                            this.knowledgeBase,
                            {
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                            })
                        alert('done')
                    } catch (e) {
                        console.log(e)
                    }
                    this.isLoading = false
                }
            },
            async mounted() {
                this.isLoading = true
                try {
                    const response = await axios.get(`/local/Workspace/getQnA/${this.botId}`)

                    this.methodLink = response.data !== '' ? 'updateQnA' : 'createQnA'

                    if (response.data !== '') {
                        this.qnaList = response.data.qnaDocuments
                    }

                } catch (e) {
                    console.log(e)
                }
                this.isLoading = false
            }
        })

    </script>
}
