﻿@model GrcBotViewModel
@{
    ViewData["Title"] = "Edit GRC";
}

<section class="section">
    <div class="container">
        <div class="card">
            <br />

            <form asp-controller="Workspace"
                  asp-action="ChangeBotPlan"
                  asp-route-id="@Model.Id">
                <span class="select is-fullwidth is-empty">
                    <select name="StripePlanId" required>
                        <option selected="selected" disabled="disabled" value="" hidden="hidden">Plan</option>
                        @foreach (var plan in Model.Plans)
                        {
                            @if (Model.StripePlanId == @plan.StripePlanId)
                            {
                                <option value="@plan.StripePlanId" selected>@plan.Name</option>

                            }
                            else
                            {
                                <option value="@plan.StripePlanId">@plan.Name</option>

                            }
                        }
                    </select>
                </span>
                <br />
                <button type="submit" class="button is-cyan">Change Plan</button>
                <br />
            </form>
        </div>
        <br />
        <div class="card">
            <form ref="grcForm"
                asp-controller="Workspace"
                asp-action="EditGRCBot"
                asp-route-id="@Model.Id">
                <b-field label="Name">
                    <b-input name="Name" value="@Model.Name"></b-input>
                </b-field>
                <b-field label="Welcome Message">
                    <b-input name="WelcomeMessage" value="@Model.WelcomeMessage"></b-input>
                </b-field>
                <b-field label="Unable to Answer Message">
                    <b-input name="NoAnswerFoundMessage" value="@Model.NoAnswerFoundMessage"></b-input>
                </b-field>
                <b-field label="Request Contact Details Message">
                    <b-input name="RequestContactDetailsMessage" value="@Model.RequestContactDetailsMessage"></b-input>
                </b-field>
                <b-field label="User Agree Contact Message">
                    <b-input name="UserAgreeContactMessage" value="@Model.UserAgreeContactMessage"></b-input>
                </b-field>
                <b-field label="User Disagree Contact Message">
                    <b-input name="UserDisagreeContactMessage" value="@Model.UserDisagreeContactMessage"></b-input>
                </b-field>
                <b-field label="User Swear Message">
                    <b-input name="UserSwearMessage" value="@Model.UserSwearMessage"></b-input>
                </b-field>
                <b-field label="Ask User Useful Message">
                    <b-input name="AskUserUsefulMessage" value="@Model.AskUserUsefulMessage"></b-input>
                </b-field>
                <b-field label="Ask User Useful Percentage">
                    <b-input name="AskUserUsefulPercentage" value="@Model.AskUserUsefulPercentage"></b-input>
                </b-field>
                <b-field label="Address Line 1">
                    <b-input name="AddressLine1" value="@Model.AddressLine1"></b-input>
                </b-field>
                <b-field label="Address Line 2">
                    <b-input name="AddressLine2" value="@Model.AddressLine2"></b-input>
                </b-field>
                <b-field label="Postal Code">
                    <b-input name="PostalCode" value="@Model.PostalCode"></b-input>
                </b-field>

                <button type="submit" class="button is-cyan">Save</button>
            </form>
        </div>
    </div>
</section>

@section scripts {
    <script>
        let app = new Vue({
            el: '#app'

        })
    </script>
}