﻿@model NyxDatabase.Models.Event

@{
    ViewData["Title"] = "Edit Event";
}

<section class="section">
    <div class="container">

        <b-field label="Event Image">
            <b-field>
                <figure class="image is-256x256-tablet" style="max-width:300px;">
                    <img :src="filePath"
                         v-on:click="isCardModalActive=true"
                         alt="Event image">
                </figure>
            </b-field>
        </b-field>
        <form asp-controller="Workspace"
              asp-action="EditBotEvent"
              asp-route-id="@Model.Id">
            <b-field label="Name">
                <b-input name="Name" value="@Model.Name"></b-input>
            </b-field>
            <b-field label="Description">
                <b-input name="Description" value="@Model.Description"></b-input>
            </b-field>
            <b-field label="Location">
                <b-input id="pac-input" placeholder="" value="@Model.Location" name="Location"></b-input>
            </b-field>
            <b-field>
                <b-checkbox name="HasTickets" v-model="hasTickets" value="@Model.HasTickets" native-value="true">Tickets</b-checkbox>
            </b-field>
            <b-field class="has-nested" v-show="hasTickets" expanded v-if="data.length == 0">
                <span @@click="ConfigPush();">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="#000000" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z" />
                    </svg>
                </span>
                <span @@click="ConfigPop();" v-if="index>1">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="#000000" d="M17,13H7V11H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z" />
                    </svg>
                </span>
                <div id="rows" v-for="i in index">
                    <div class="card">
                        <div class="card-content">

                            <b-field label="Name">
                                <b-input :name="`EventItems[${i-1}].Name`"></b-input>
                            </b-field>

                            <b-field label="Description">
                                <b-input :name="`EventItems[${i-1}].Description`"></b-input>
                            </b-field>

                            <b-field label="Number of tickets bot has">
                                <b-input type="number" v-model="Tickets[i-1]" pattern="(^[0-9])" :name="`EventItems[${i-1}].NumberOfTickets`"></b-input>
                                <p class="control">
                                    <span class="button is-static">ticket(s)</span>
                                </p>
                            </b-field>

                            <b-field label="Ticket Price">
                                <p class="control">
                                    <span class="button is-static">$</span>
                                </p>
                                <b-input type="number" :name="`EventItems[${i-1}].TicketPrice`"></b-input>
                            </b-field>
                            <b-field>
                                <b-checkbox :name="`EventItems[${i-1}].IsReservable`" v-model="IsReservable[i-1]" native-value="true">Reservable</b-checkbox>
                            </b-field>
                            <b-field v-if="IsReservable[i-1]" label="Number of tickets that can be reserved per order">
                                <b-input type="number" pattern="(^[0-9])" :name="`EventItems[${i-1}].MaxReservablePerOrder`" :max="Tickets[i-1]"></b-input>
                                <p class="control">
                                    <span class="button is-static">ticket(s)</span>
                                </p>
                            </b-field>
                            <b-field v-if="IsReservable[i-1]" label="Number of days tickets can be reserved">
                                <b-input type="number" pattern="(^[0-9])" :name="`EventItems[${i-1}].MaxReserveHoldDays`"></b-input>
                                <p class="control">
                                    <span class="button is-static">day(s)</span>
                                </p>
                            </b-field>
                            <b-field label="Ticket Sale Start Date and Time">
                                <b-field>
                                    <flat-pickr value="" placeholder="Ticket Sale Start Date and Time" :name="`EventItems[${i-1}].StartDateTime`" :config="DateStartConfig[i-1]" @@on-change="onStartItemChange" class="input"></flat-pickr>
                                </b-field>
                            </b-field>
                            <b-field label="Ticket Sale End Date and Time">
                                <b-field>
                                    <flat-pickr value="" placeholder="Ticket Sale End Date and Time" :name="`EventItems[${i-1}].EndDateTime`" :config="DateEndConfig[i-1]" class="input"></flat-pickr>
                                </b-field>
                            </b-field>
                        </div>
                    </div>
                </div>
            </b-field>
            <b-field label="Event Start Date and Time">
                <b-field>
                    <flat-pickr placeholder="Event Start Date and Time" value="" name="StartDateTime" :config="ExStartDate" @@on-change="onStartChange" class="input"></flat-pickr>
                </b-field>
            </b-field>
            <b-field label="Event End Date and Time">
                <b-field>
                    <flat-pickr placeholder="Event End Date and Time" value="" name="EndDateTime" :config="ExEndDate" class="input"></flat-pickr>
                </b-field>
            </b-field>
            <b-field label="Feedback release date and time">
                <b-field>
                    <flat-pickr value="" name="FeedbackDateTime" :config="feedbackDatePickerConfig" class="input"></flat-pickr>
                </b-field>
            </b-field>
            <button type="submit">Update</button>

        </form>
        <form v-if="eventStatus=='Drafting'"
              asp-controller="Workspace"
              asp-action="ChangeEventStatus"
              asp-route-id="@Model.Id"
              asp-route-Status="Cancel">
            <button type="submit">Delete</button>
        </form>
        <form v-if="eventStatus=='Drafting'"
              asp-controller="Workspace"
              asp-action="ChangeEventStatus"
              asp-route-id="@Model.Id"
              asp-route-Status="Start">
            <button type="submit">Start</button>
        </form>
        <form v-if="eventStatus=='Started'"
              asp-controller="Workspace"
              asp-action="ChangeEventStatus"
              asp-route-id="@Model.Id"
              asp-route-Status="End">
            <button type="submit">End</button>
        </form>

        <b-table :data="data">

            <template slot-scope="props">
                <b-table-column field="name" label="Name" sortable>
                    {{ props.row.Name }}
                </b-table-column>

                <b-table-column>
                    <a :href="`/Workspace/EditBotEventItem?id=${props.row.Id}&eventId=@Model.Id`" v-if="props.row.NumberOfItems!=0">View</a>
                </b-table-column>

                <b-table-column>
                    <b-label v-if="props.row.NumberOfItems==0">Deleted</b-label>
                    <b-label v-if="props.row.NumberOfItems!=0&&hasTickets==true">Active</b-label>
                    <b-label v-if="props.row.NumberOfItems!=0&&hasTickets==false">Inactive (Please tick Tickets)</b-label>

                </b-table-column>
            </template>

            <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>
                            <b-icon icon="emoticon-sad"
                                    size="is-large">
                            </b-icon>
                        </p>
                        <p>Nothing here.</p>
                    </div>
                </section>
            </template>
        </b-table>
        <a href="/Workspace/AddBotEventItem/@Model.Id"><button v-if="data.length > 0" type="submit">Add Ticket</button></a>

        <b-modal :active.sync="isCardModalActive" has-modal-card>
            <div class="card">
                <div class="content">
                    <br />
                    <div id="loading">
                        <img style="width:40%; margin-left:30%; margin-right:25%;" src="~/image/loading.gif" />
                    </div>
                    <form id="imageForm" onsubmit="ShowLoading()" asp-controller="Workspace"
                          asp-action="EditEventImage"
                          asp-route-id="@Model.Id"
                          enctype="multipart/form-data">
                        <b-field label="Event Image">
                            <b-field>
                                <figure class="image is-256x256-tablet" style="max-width:300px;">
                                    <img :src="filePathToChange"
                                         v-on:click="triggerInputFile"
                                         alt="Event image">
                                </figure>
                                <input ref="eventImage"
                                       v-on:change="imageChange"
                                       v-show="false"
                                       name="EventImage"
                                       type="file">
                            </b-field>
                        </b-field>
                        <b-field label="Click image to upload a new image"></b-field>
                        <button type="submit" class="button is-primary">Upload</button>
                        <button class="button" type="button" @@click="isCardModalActive = false">Close</button>
                        <br />
                        <br />
                    </form>
                </div>
            </div>
            <script>
                var imageForm = document.getElementById('imageForm');
                var loading = document.getElementById('loading');
                loading.style.display = 'none';

                function ShowLoading() {
                    console.log('enter');
                    var imageForm = document.getElementById('imageForm');
                    var loading = document.getElementById('loading');
                    loading.style.display = '';
                    imageForm.style.display = 'none';
                }
            </script>
        </b-modal>
    </div>
</section>

<link href="https://unpkg.com/flatpickr@4/dist/flatpickr.min.css" rel="stylesheet">
<script src="https://unpkg.com/flatpickr@4/dist/flatpickr.min.js"></script>
<script src="https://unpkg.com/vue-flatpickr-component@7"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
@section scripts {

    <script>
        window.addEventListener('keydown', function (e) { if (e.keyIdentifier == 'U+000A' || e.keyIdentifier == 'Enter' || e.keyCode == 13) { if (e.target.nodeName == 'INPUT' && e.target.type == 'text') { e.preventDefault(); return false; } } }, true);

        let hasT =  @Model.HasTickets.ToString().ToLower();
        let count =  @Model.Tickets.Count;
        let sDate = new Date('@Model.Start.DateTime UTC');
        let eDate = new Date('@Model.End.DateTime UTC');
        let fDate = new Date('@Model.FeedbackDate.DateTime UTC');

        let items_Id = [];
        let items_Name = [];
        let items_Description = [];
        let items_NumberOfItems = [];
        let items_Price = [];

        let items = [];
        @foreach(var x in Model.Tickets) {
            @:items_Id.push('@x.Id');
            @:items_Name.push('@x.Name');
            @:items_Description.push('@x.Description');
            @:items_NumberOfItems.push(@x.NumberOfItems);
            @:items_Price.push(@x.Price);
        }

        for (var x = 0; x<count; x++) {
            let obj = {
                ['Id']: items_Id[x],
                ['Name']: items_Name[x],
                ['Description']: items_Description[x],
                ['NumberOfItems']: items_NumberOfItems[x],
                ['Price']: items_Price[x]
            }
            items.push(obj);

        }

        Vue.component('flat-pickr', VueFlatpickr);

        let app = new Vue({
            el: '#app',
            data () {
                return {
                    file: [],
                    filePath: '@Model.ImageUrl',
                    filePathToChange: '@Model.ImageUrl',
                    DateStartConfig: [],
                    DateEndConfig: [],
                    Tickets: [],
                    isCardModalActive: false,
                    IsReservable: [],
                    hasTickets: hasT,
                    index: count,
                    data: items,
                    eventStatus: "@Model.Status",
                    ExStartDate: {
                        minDate: "today",
                        enableTime: true,
                        dateFormat: "m/d/Y H:i",
                        defaultDate: sDate
                    },
                    ExEndDate: {
                        minDate: "today",
                        enableTime: true,
                        dateFormat: "m/d/Y H:i",
                        defaultDate: eDate
                    },
                    clickChoice: function (chosenValue) {
                        var EventStatus = document.getElementById('EventStatus');
                        EventStatus.value = chosenValue;
                        const elem = this.$refs.myBtn
                        elem.click()
                    },
                    onStartChange: function (selectedDates, dateStr, instance) {
                        app.ExEndDate.minDate = dateStr;
                    },
                    ConfigPush: function () {
                        var newStartConfig = {
                            minDate: "today",
                            enableTime: true,
                            dateFormat: "m/d/Y H:i"
                        }
                        var newEndConfig = {
                            minDate: "today",
                            enableTime: true,
                            dateFormat: "m/d/Y H:i"
                        }
                        app.DateStartConfig.push(newStartConfig);
                        app.DateEndConfig.push(newEndConfig);
                        app.IsReservable.push(false);
                        app.Tickets.push(0);
                        app.index++;
                    },
                    ConfigPop: function () {
                        app.DateStartConfig.pop();
                        app.DateEndConfig.pop();
                        app.IsReservable.pop();
                        app.Tickets.pop();
                        app.index--;
                    },
                    onStartItemChange: function (selectedDates, dateStr, instance) {
                        let name = instance.element.name;
                        let newArrayForName = name.split('[');
                        let index = parseInt(newArrayForName[1].charAt(0));
                        console.log(index)
                        app.DateEndConfig[index].minDate = dateStr;
                    },
                    feedbackDatePickerConfig:
                     {
                            minDate: "today",
                            enableTime: true,
                            dateFormat: "m/d/Y H:i",
                            defaultDate: fDate
                    },
                    imageChange: function (e) {
                            let input = e.target;
                            if (input.files && input.files[0]) {
                                let fileReader = new FileReader();
                                fileReader.onload = e => {
                                    app.filePathToChange = e.target.result;
                                }
                                fileReader.readAsDataURL(input.files[0]);
                                console.log(input.files.length);
                            } else {
                                app.filePathToChange = 'https://semantic-ui.com/images/wireframe/image.png';
                            }
                        },
                    triggerInputFile: function() {
                        let input = app.$refs.eventImage;
                        input.click();
                    }
                }
            }
        })

        function initMap() {

            var input = document.getElementById('pac-input');

            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.setTypes([]);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyn45O4p-9p-Xc1C3F2t_y_9QpCSmeoU4&libraries=places&callback=initMap"
            async defer></script>
}