﻿@{
    ViewData["Title"] = "Dashboard";
}

<section class="section">
    <div class="container">
        <a asp-controller="Workspace" asp-action="Bots" class="button is-outlined is-large">Bots</a>
    </div>
</section>