﻿@model Bot
@{
    ViewData["Title"] = "Publish";
}

<section class="section">
    <div class="content">
        <p class="title">Publish Request for @Model.Name</p>
        <p>Plan</p>
        <p>@Model.Plan.Name</p>
        <p>$@Model.Plan.Price / Month</p>
        
        <b-message type="is-warning" has-icon>
            The publishing of the bot will take some time (1hour max). When it is published, you will receive an email to notify you and you the subscription for the bot will start.
        </b-message>
        
        <form ref="publishForm" asp-controller="Workspace" asp-action="PublishBot" asp-route-id="@Model.Id">
            <p>Select the supported channels</p>
            <b-field>
                <b-checkbox :value="true" native-value="true" disabled>Webchat</b-checkbox>
            </b-field>
            <b-field>
                <b-checkbox v-model="hasTelegram" native-value="true">Telegram</b-checkbox>
            </b-field>
            <b-field class="has-nested" v-show="hasTelegram" expanded>
                <b-field label="TelegramApiToken">
                    <b-input name="TelegramApiToken"></b-input>
                </b-field>
            </b-field>
            <b-field>
                <b-checkbox v-model="hasFacebook" native-value="true">Facebook</b-checkbox>
            </b-field>
            <b-field class="has-nested" v-show="hasFacebook" expanded>
                <b-field label="Facebook Page Id">
                    <b-input name="FacebookPageId"></b-input>
                </b-field>
                <b-field label="Facebook App Id">
                    <b-input name="FacebookAppId"></b-input>
                </b-field>
                <b-field label="Facebook App Secret">
                    <b-input name="FacebookAppSecret"></b-input>
                </b-field>
                <b-field label="Facebook Page AccessToken">
                    <b-input name="FacebookPageAccessToken"></b-input>
                </b-field>
            </b-field>
            
            <button class="button is-success" @@click="confirm">Publish</button>
        </form>
    </div>
</section>

@section scripts {
    <script>
        let app = new Vue({
            el: '#app',
            data: function () {
                return {
                    hasTelegram: false,
                    hasFacebook: false
                }
            },
            methods: {
                confirm () {
                    this.$dialog.confirm({
                    title: 'Confirm publish request',
                    message: `You understand that by requesting for publishing of the bot, you will be charged once it is published. Click <code>Request Publish</code> to request.`,
                    cancelText: 'Cancel',
                    confirmText: 'Request Publish',
                    type: 'is-success',
                    onConfirm: () => { this.$refs.publishForm.submit() }
                })
                }
            }
        })
    </script>
}