﻿@{
    ViewData["Title"] = "Register Customer Support";
}

<section class="section">
    <div class="container has-text-centered">
        <div class="column is-8-desktop is-12-tablet is-offset-2-desktop">
            <h3 class="title has-text-grey">Create </h3>
            <hr>
            <p class="subtitle has-text-grey">Customer Support Registration</p>
            <form asp-controller="Workspace" asp-action="RegisterCustomerSupport" method="post" enctype="multipart/form-data">
                <b-field label="Email">
                    <b-input type="email"
                        name="Email"
                        placeholder="cs@abc.com"
                        maxlength="100">
                    </b-input>
                </b-field>
                <b-field label="First Name">
                    <b-input name="FirstName"
                        placeholder="John"
                        maxlength="100">
                    </b-input>
                </b-field>
                <b-field label="Last Name">
                    <b-input name="LastName"
                        placeholder="Doe"
                        maxlength="100">
                    </b-input>
                </b-field>
                @*<b-field label="Date of Birth">
                    <b-datepicker name="DOB"
                        placeholder="Click to select..."
                        icon="calendar">
                    </b-datepicker>
                </b-field>*@
                <b-field label="Password">
                    <b-input type="password"
                        name="Password"
                        placeholder="password123"
                        password-reveal>
                    </b-input>
                </b-field>
                <b-field label="Confirm Password">
                    <b-input type="password"
                        name="ConfirmPassword"
                        placeholder="password321"
                        password-reveal>
                    </b-input>
                </b-field>
                <b-field label="Profile Image">
                    <b-field>
                        <figure class="profile image is-256x256-tablet">
                            <img :src="filePath"
                                v-on:click="triggerInputFile"
                                alt="Profile image">
                        </figure>
                        <input ref="profileImg"
                            v-on:change="imageChange"
                            v-show="false"
                            name="ProfileImg"
                            type="file">
                    </b-field>
                </b-field>
                <button type="submit" class="button is-block is-cyan is-large">Create</button>
            </form>
        </div>
    </div>
</section>

@section scripts {
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                file: [],
                filePath: 'https://semantic-ui.com/images/wireframe/image.png'
            },
            methods: {
                imageChange: function (e) {
                    let input = e.target;
                    if (input.files && input.files[0]) {
                        let fileReader = new FileReader();
                        fileReader.onload = e => {
                            this.filePath = e.target.result;
                        }
                        fileReader.readAsDataURL(input.files[0]);
                    } else {
                        this.filePath = 'https://semantic-ui.com/images/wireframe/image.png';
                    }
                },
                triggerInputFile: function () {
                    let input = this.$refs.profileImg;
                    input.click();
                }
            }
        })
    </script>
}