﻿@{
    ViewData["Title"] = $"{Model.FirstName} {Model.LastName}";
    string toggleString = Model._Active ? "Disable" : "Enable";
}

<section class="section">
    <p class="title">@Model.FirstName @Model.LastName</p>
    <p class="subtitle">@Model.Email</p>
    
    <div class="tile is-ancestor">
        <div class="tile is-parent"> 
            <div class="tile is-child box">
                <p class="title">Details</p>
                <dl>
                    <dt>Date Of Birth</dt>
                    <dd>@Model.DateOfBirth.ToString("dd MMM yyyy")</dd>
                    <dt></dt>
                    <dt>
                        <form asp-controller="Workspace" asp-action="DisableCustomerSupport" asp-route-id="@Model.Id">
                            <button type="submit" class="button is-danger">@toggleString</button>
                        </form>
                    </dt>
                </dl>
            </div>
        </div>
    </div>
    
    <a asp-controller="Workspace" asp-action="EditSupportingBots" asp-route-id="@Model.Id" class="button is-light">Manage Supporting Bots</a>
    <b-table
        :data="tables.supportingBots.data"
        :loading="tables.supportingBots.loading"

        paginated
        backend-pagination
        :total="tables.supportingBots.total"
        :per-page="tables.supportingBots.perPage"
        v-on:page-change="onSupportingBotsPageChange"

        backend-sorting
        :default-sort-direction="tables.supportingBots.defaultSortOrder"
        :default-sort="[tables.supportingBots.sortField, tables.supportingBots.sortOrder]"
        v-on:sort="onSupportingBotsSort">

        <template slot-scope="props">
            <b-table-column field="name" label="Name" sortable centered>
                {{ props.row.name }}
            </b-table-column>
            
            <b-table-column field="type" label="Type" sortable centered>
                {{ props.row.type }}
            </b-table-column>
        </template>
        
        <template slot="empty">
            <section class="section">
                <div class="content has-text-grey has-text-centered">
                    <p>
                        <b-icon
                            icon="emoticon-sad"
                            size="is-large">
                        </b-icon>
                    </p>
                    <p>Nothing here.</p>
                </div>
            </section>
        </template>
    </b-table>
</section>

@section scripts {
    <script>
        let app = new Vue({
            el: "#app",
            data() {
                return {
                    tables: {
                        supportingBots: {
                            data: [],
                            total: 0,
                            loading: false,
                            sortField: 'date',
                            sortOrder: 'desc',
                            defaultSortOrder: 'desc',
                            page: 1,
                            perPage: 20
                        }
                    }
                }
            },
            methods: {
                loadSupportingBotsDataAsync() {
                    let table = this.tables.supportingBots
                    
                    const params = [
                        `sortBy=${table.sortField}.${table.sortOrder}`,
                        `perpage=${table.perPage}`,
                        `page=${table.page}`
                    ].join('&')
                    
                    table.loading = true
                    axios.get(`/local/Workspace/GetSupportingBots?id=@Model.Id&${params}`)
                        .then(({ data }) => {
                            table.data = []
                            table.total = data.total
                            for (let i = data.supportingBots.length - 1; i >= 0; i--) {
                                let item = data.supportingBots[i]
                                table.data.unshift(item)
                            }
                            table.loading = false
                        })
                        .catch((error) => {
                            table.data = []
                            table.total = 0
                            table.loading = false
                            throw error
                        })
                },
                /*
                 * Handle page-change event
                 */
                onSupportingBotsPageChange(page) {
                    let table = this.tables.supportingBots
                    table.page = page
                    this.loadSupportingBotsDataAsync()
                },
                /*
                 * Handle sort event
                 */
                onSupportingBotsSort(field, order) {
                    let table = this.tables.supportingBots
                    table.sortField = field
                    table.sortOrder = order
                    this.loadSupportingBotsDataAsync()
                },
            },
            mounted() {
                this.loadSupportingBotsDataAsync()
            }
        })
    </script>
}