﻿
@{
    ViewData["Title"] = "ViewGeneralFeedback";
    Layout = "~/Views/Shared/_NavBarLayout.cshtml";
}
<div id="app">
    <div class="container">
        <b-table :data="generalFeedback" :mobile-cards="true" :bordered="true" :hoverable="true"
                 paginated per-page="20"
                 detailed detail-key="id">
            <template slot-scope="props">
                <b-table-column field="id" label="ID" width="40" numeric>
                    {{ props.row.id || 'n/a' }}
                </b-table-column>

                <b-table-column field="eventId" label="Event Id">
                    {{ props.row.eventId || 'n/a' }}
                </b-table-column>

                <b-table-column field="name" label="Name">
                    {{ props.row.name || 'n/a' }}
                </b-table-column>

                <b-table-column field="email" label="Email">
                    {{ props.row.email || 'n/a' }}
                </b-table-column>

                <b-table-column field="phoneNumber" label="Phone Number">
                    {{ props.row.phoneNumber || 'n/a' }}
                </b-table-column>

                <b-table-column field="type" label="Type">
                    {{ props.row.type.substring(8) }}
                </b-table-column>
            </template>

            <template slot="detail" slot-scope="props">
                <article class="media">

                    <div class="media-content">
                        <div class="content">
                            <b>
                                Comment
                            </b>
                            <p>
                                {{props.row.comment || 'n/a'}}
                            </p>
                        </div>
                    </div>
                    <div class="media-right">
                        <star-rating v-model="props.row.rating || 0" :read-only="true" :star-size="15"></star-rating>
                    </div>
                </article>
            </template>

            <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>
                            <b-icon icon="emoticon-sad"
                                    size="is-large">
                            </b-icon>
                        </p>
                        <p>No feedback.</p>
                    </div>
                </section>
            </template>

        </b-table>
    </div>
</div>
@section scripts{
    <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
    <script>
        Vue.component('star-rating', VueStarRating.default);
        const app = new Vue({
            el: '#app',
            data: {
                generalFeedback: [],
                botId: window.location.href.split("/").pop(),
            },
            async mounted() {
                try {
                    const response = await axios.get(`/local/Workspace/getGeneralFeedback/${this.botId}`)
                    this.generalFeedback = response.data
                } catch (e) {
                    console.log(e)
                }
            },
        })
    </script>
}