﻿
@{
    ViewData["Title"] = "ViewVolunteers";
    Layout = "~/Views/Shared/_NavBarLayout.cshtml";
}

<div id="app">
    <div class="container">
        <b-table :data="volunteers" :mobile-cards="true" :bordered="true" :hoverable="true"
                 paginated per-page="20">
            <template slot-scope="props">
                <b-table-column field="id" label="ID" width="40" numeric>
                    {{ props.row.id || 'n/a' }}
                </b-table-column>

                <b-table-column field="eventId" label="Event Id">
                    {{ props.row.eventId || 'n/a' }}
                </b-table-column>

                <b-table-column field="name" label="Name">
                    {{ props.row.name || 'n/a' }}
                </b-table-column>

                <b-table-column field="email" label="Email">
                    {{ props.row.email || 'n/a' }}
                </b-table-column>

                <b-table-column field="phoneNumber" label="Phone Number">
                    {{ props.row.phoneNumber || 'n/a' }}
                </b-table-column>
            </template>

            <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>
                            <b-icon icon="emoticon-sad"
                                    size="is-large">
                            </b-icon>
                        </p>
                        <p>No volunteers.</p>
                    </div>
                </section>
            </template>

        </b-table>
    </div>
</div>
@section scripts{
    <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
    <script>
        Vue.component('star-rating', VueStarRating.default);
        const app = new Vue({
            el: '#app',
            data: {
                volunteers: [],
                botId: window.location.href.split("/").pop(),
            },
            async mounted() {
                try {
                    const response = await axios.get(`/local/Workspace/getVolunteer/${this.botId}`)
                    this.volunteers = response.data
                } catch (e) {
                    console.log(e)
                }
            },
        })
    </script>
}
