﻿@model GRCBot
@{
    ViewData["Title"] = Model.Name;
}
@section styles{
<style>
    .animation-content {
        margin: 0px 20px 140px 20px !important;
    }
</style>
}

<section class="section">
    <p class="title">@Model.Name</p>
    <p class="subtitle">@Model.Type</p>

    <b-field label="Team Image Infographic">
        <b-field>
            <figure class="image is-256x256-tablet" style="max-width:300px;">
                <img :src="filePath"
                     v-on:click="showImageModal"
                     alt="Team Image">
            </figure>
        </b-field>
    </b-field>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="tile is-child box">
                <p class="title">Details <a asp-controller="Workspace" asp-action="EditBotDetails" asp-route-id="@Model.Id">Edit</a></p>
                <dl>
                    <dt>Welcome Message</dt>
                    <dd>@Model.WelcomeMessage</dd>
                    <dt>No Answer Found Message</dt>
                    <dd>@Model.NoAnswerFoundMessage</dd>
                    <dt>Address Line 1</dt>
                    <dd>@Model.Address.AddressLine1</dd>
                    <dt>Address Line 2</dt>
                    <dd>@Model.Address.AddressLine2</dd>
                    <div class="divider"></div>
                    <dt>Plan <a asp-controller="Workspace" asp-action="ChangePlan" asp-route-id="@Model.Id">Change</a></dt>
                    <dd>@Model.Plan.Name</dd>
                    <dt>Status</dt>
                    <dd>@Model.Status@if (Model.Status != BotStatus.Deployed)
                    {<a asp-controller="Workspace" asp-action="PublishBot" asp-route-id="@Model.Id">Publish</a>} </dd>
                    @if (Model.Status == BotStatus.Deployed)
                    {
                        <p class="title is-3">Keys/Tokens</p>
                        <dt>WebChat</dt>
                        <dd>@Model.WebChatToken</dd>
                        if (Model.TelegramApiToken != null)
                        {
                            <dt>Telegram</dt>
                            <dd>@Model.TelegramApiToken</dd>
                        }
                        if (Model.FacebookPageId != null)
                        {
                            <dt>Facebook</dt>
                            <dd>@Model.FacebookPageId</dd>
                            <dd>@Model.FacebookAppId</dd>
                            <dd>@Model.FacebookAppSecret</dd>
                            <dd>@Model.FacebookPageAccessToken</dd>
                        }
                    }
                </dl>
            </div>
        </div>
    </div>

    <button class="button" @@click="showAnnouncementModal">Send Announcement</button>

    <a asp-controller="Workspace" asp-action="AddBotEvent" asp-route-id="@Model.Id" class="button">Add Event</a>
    <a asp-controller="Workspace" asp-action="EditQnA" asp-route-id="@Model.Id" class="button">Edit Q&A</a>
    <b-table :data="data"
             :loading="loading"
             striped
             hoverable
             paginated
             backend-pagination
             :total="total"
             :per-page="perPage"
             v-on:page-change="onPageChange"
             backend-sorting
             :default-sort-direction="defaultSortOrder"
             :default-sort="[sortField, sortOrder]"
             v-on:sort="onSort">

        <template slot-scope="props">
            <b-table-column field="name" label="Name" sortable>
                {{ props.row.name }}
            </b-table-column>

            <b-table-column field="hasTickets" label="Has Tickets?" width="120" numeric sortable>
                <span class="tag" :class="type(props.row.vote_average)">
                    {{ props.row.hasTickets }}
                </span>
            </b-table-column>
            <b-table-column field="status" label="Status" width="60" sortable>
                <span class="tag" :class="type(props.row.vote_average)">
                    {{statuses[props.row.status]}}
                </span>
            </b-table-column>

            <b-table-column field="links" label="">
                <a @@click="isImageModalActive = true; currEventId = props.row.id">
                    Set Reminder
                </a><br />
                <a :href="`/Workspace/ViewFeedback/${props.row.id}`">
                    View All Feedback
                </a><br />
                <a :href="`/Transaction/ViewAllTransaction/${props.row.id}`">
                    View All Transaction
                </a><br />
                <a :href="`/Transaction/ViewAllReserved/${props.row.id}`">
                    View All Reserved Transaction
                </a><br />

                <a v-if="props.row.status!=2&&props.row.status!=3" :href="`/Workspace/EditBotEvent/${props.row.id}`">View</a>
            </b-table-column>
        </template>

        <template slot="empty">
            <section class="section">
                <div class="content has-text-grey has-text-centered">
                    <p>
                        <b-icon icon="emoticon-sad"
                                size="is-large">
                        </b-icon>
                    </p>
                    <p>Nothing here.</p>
                </div>
            </section>
        </template>
    </b-table>
    <b-modal :active.sync="isImageModalActive" has-modal-card>
        <div class="card">
            <div class="content">
                <br />
                <div ref="imageFormLoader">
                    <img style="width:40%; margin-left:30%; margin-right:25%;" src="~/image/loading.gif" />
                </div>
                <form ref="imageForm" v-on:submit="showImageFormLoading" asp-controller="Workspace"
                      asp-action="UpdateTeamInfo"
                      asp-route-BotId="@Model.Id"
                      enctype="multipart/form-data">
                    <b-field label="Team Image Infographic">
                        <b-field>
                            <figure class="image is-256x256-tablet" style="max-width:300px;">
                                <img :src="filePathToChange"
                                     v-on:click="triggerInputFile"
                                     alt="Team Image">
                            </figure>
                            <input ref="teamImage"
                                   v-on:change="imageChange"
                                   v-show="false"
                                   name="TeamImage"
                                   type="file">
                        </b-field>
                    </b-field>
                    <b-field label="Click image to upload a new image"></b-field>
                    <button type="submit" class="button is-primary">Upload</button>
                    <button class="button" type="button" @@click="isCardImageModalActive = false">Close</button>
                    <br />
                    <br />
                </form>
            </div>
        </div>
    </b-modal>

    <b-modal :active.sync="isAnnouncementModalActive" has-modal-card>
        <div class="card">
            <div class="content">
                <br />
                <div ref="announcementFormLoader">
                    <img style="width:40%; margin-left:30%; margin-right:25%;" src="~/image/loading.gif" />
                </div>
                <form ref="announcementForm" v-on:submit="showAnnoucementFormLoading()" asp-controller="Workspace"
                      asp-action="SendAnnouncement">

                    <b-input name="BotId" value="@Model.Id" style="display:none;"></b-input>

                    <b-field label="Annouoncement Message">
                        <b-input type="textarea" name="Message"></b-input>
                    </b-field>
                    <button type="submit" class="button is-primary">Send</button>
                    <button class="button" type="button" @@click="isAnnouncementModalActive = false">Close</button>
                    <br />
                    <br />
                </form>
            </div>
        </div>
    </b-modal>

    <b-modal :active.sync="isReminderModalActive" has-modal-card>
        <form v-on:submit.prevent="setReminder">
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">Set Reminder</p>
                </header>
                <section class="modal-card-body">
                    <b-field label="Reminder date">
                        <flat-pickr v-model="date" :config="datePickerConfig" class="input"></flat-pickr>
                    </b-field>
                </section>
                <footer class="modal-card-foot">
                    <button type="submit" class="button">Set Reminder</button>
                </footer>
            </div>
        </form>
    </b-modal>
</section>


@section scripts {
<link href="https://unpkg.com/flatpickr@4/dist/flatpickr.min.css" rel="stylesheet">
<script src="https://unpkg.com/flatpickr@4/dist/flatpickr.min.js"></script>
<script src="https://unpkg.com/vue-flatpickr-component@7"></script>
<script>
        Vue.component('flat-pickr', VueFlatpickr);
        let app = new Vue({
            el: "#app",
            data() {
                return {
                    data: [],
                    total: 0,
                    loading: false,
                    file: [],
                    filePath: '@Model.TeamInfoImageUrl',
                    filePathToChange: '@Model.TeamInfoImageUrl',
                    sortField: 'vote_count',
                    sortOrder: 'desc',
                    defaultSortOrder: 'desc',
                    page: 1,
                    perPage: 20,
                    statuses: ['Drafting',
                        'Started',
                        'Cancelled',
                        'Ended'
                    ],
                    isImageModalActive: false,
                    isAnnouncementModalActive: false,
                    isReminderModalActive: false,
                    date:null,
                    datePickerConfig:{
                        minDate: "today",
                        enableTime: true,
                        dateFormat: "d/m/Y h:iK"
                    },
                    currEventId:'',
                }
            },
            mounted() {
                
                this.loadAsyncData()
            },
            methods: {
                /*
                 * Load async data
                 */
                loadAsyncData() {
                    const params = [
                        `sortBy=${this.sortField}.${this.sortOrder}`,
                        `perpage=${this.perPage}`,
                        `page=${this.page}`
                    ].join('&')

                    this.loading = true
                    axios.get(`/local/Workspace/GetBotEvents/@Model.Id?${params}`)
                        .then(({ data }) => {
                            this.data = []
                            let currentTotal = data.total_results
                            if (data.total_results / this.perPage > 1000) {
                                currentTotal = this.perPage * 1000
                            }
                            this.total = currentTotal
                            for (let i = data.length - 1; i >= 0; i--) {
                                let item = data[i]
                                //if (!item.hasTickets) {
                                //}
                                this.data.unshift(item)
                            }
                            this.loading = false
                        })
                        .catch((error) => {
                            this.data = []
                            this.total = 0
                            this.loading = false
                            throw error
                        })
                },
                /*
                 * Handle page-change event
                 */
                onPageChange(page) {
                    this.page = page
                    this.loadAsyncData()
                },
                /*
                 * Handle sort event
                 */
                onSort(field, order) {
                    this.sortField = field
                    this.sortOrder = order
                    this.loadAsyncData()
                },
                /*
                 * Type style in relation to the value
                 */
                type(value) {
                    const number = parseFloat(value)
                    if (number < 6) {
                        return 'is-danger'
                    } else if (number >= 6 && number < 8) {
                        return 'is-warning'
                    } else if (number >= 8) {
                        return 'is-success'
                    }
                },

                 /**
                 * Set the reminder for the event
                 **/
                async setReminder() {
                    try {
                        const data = new URLSearchParams()
                        data.append('reminderDate', this.date)
                        data.append('eventId', this.currEventId)
                        data.append('botUrl', '@Model.Url' )

                        await axios.post(`/local/Workspace/setReminder`, data, {
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded'
                            },
                        })
                    } catch (e) {
                        console.log(e)   
                    }
                    this.date = null
                    this.isImageModalActive = false
                },
                imageChange(e) {
                    let input = e.target;
                    if (input.files && input.files[0]) {
                        let fileReader = new FileReader()
                        fileReader.onload = e => {
                            app.filePathToChange = e.target.result
                        }
                        fileReader.readAsDataURL(input.files[0])
                        console.log(input.files.length)
                    } else {
                        app.filePathToChange = 'https://semantic-ui.com/images/wireframe/image.png'
                    }
                },
                triggerInputFile() {
                    let input = app.$refs.teamImage
                    input.click()
                },
                showImageModal() {
                    this.isImageModalActive = true
                    this.$nextTick(() => {
                        this.$refs.imageForm.style.display = ''
                        this.$refs.imageFormLoader.style.display = 'none'
                    })
                },
                showImageFormLoading() {
                    this.$refs.imageForm.style.display = 'none'
                    this.$refs.imageFormLoader.style.display = ''
                },
                showAnnouncementModal() {
                    this.isAnnouncementModalActive = true
                    this.$nextTick(() => {
                        this.$refs.announcementForm.style.display = ''
                        this.$refs.announcementFormLoader.style.display = 'none'
                    })
                },
                showAnnouncementFormLoading() {
                    this.$refs.announcementForm.style.display = 'none'
                    this.$refs.announcementFormLoader.style.display = ''
                }
            },
            watch: {
                isImageModalActive(value) {
                    if(!value)
                        this.currEventId = ''
                }
            },
            filters: {
                /**
                 * Filter to truncate string, accepts a length parameter
                 */
                truncate(value, length) {
                    return value.length > length
                        ? value.substr(0, length) + '...'
                        : value
                }
            }
        })
</script>
}