﻿@model Bot
@{
    ViewData["Title"] = $"{Model.Name} Analytics";
    Layout = "_NavBarLayout";
}
<template>
    <div class="container">
        <div class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Total Chats</p>
                    <p class="title">{{ stats.data.totalChats }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Total Queries</p>
                    <p class="title">{{ stats.data.totalMessages }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Average Sentiment</p>
                    <p class="title">{{ stats.data.avgSentiment.toFixed(2) }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Average Message / Hour</p>
                    <p class="title">{{ stats.data.avgMessagePerHour.toFixed(2) }}</p>
                </div>
            </div>
            <b-loading :is-full-page="false" :active.sync="stats.isLoading"></b-loading>
        </div>
        <Chart ref="msgVsHrChart"
            title="Messages / Hour"
            :x-axis-date="true"
            :x-equal="compareDate"
            :data="messagesPerHourData"
            :width="800"
            :height="500"
            :min-x="stats.minX"
            :max-x="stats.maxX"
            :min-y="0"
            :max-y="stats.messagesPerHourMaxY"
            :loading="stats.isLoading">
        </Chart>
        <Chart ref="failMsgVsHrChart"
            title="Fail Messages / Hour"
            :x-axis-date="true"
            :x-equal="compareDate"
            :data="failMessagesPerHourData"
            :width="800"
            :height="500"
            :min-x="stats.minX"
            :max-x="stats.maxX"
            :min-y="0"
            :max-y="stats.failMessagesPerHourMaxY"
            :loading="stats.isLoading">
        </Chart>
        <Chart ref="chatVsHrChart"
            title="Chats / Hour"
            :x-axis-date="true"
            :x-equal="compareDate"
            :data="chatsPerHourData"
            :width="800"
            :height="500"
            :min-x="stats.minX"
            :max-x="stats.maxX"
            :min-y="0"
            :max-y="stats.chatsPerHourMaxY"
            :loading="stats.isLoading">
        </Chart>
        <Chart ref="cumulativeChatChart"
            title="Cumulative number of chats over time"
            :x-axis-date="true"
            :x-axis-tick="5"
            :x-equal="compareDate"
            :data="uniqueChatRateData"
            :width="800"
            :height="500"
            :min-x="uniqueChatRate.minX"
            :max-x="uniqueChatRate.maxX"
            :min-y="0"
            :max-y="uniqueChatRate.maxY"
            :loading="uniqueChatRate.isLoading">
        </Chart>
        <b-field label="Topic Date">
            <b-select v-model="topics.selectedDate"
                :loading="topics.isLoading"
                placeholder="Select a date">
                <option
                    v-for="option in topics.data"
                    :value="option.date"
                    :key="option.date">
                    {{ option.date }}
                </option>
            </b-select>
        </b-field>
        <p class="title">Topics rates</p>
        <b-table
            :data="topicsSelectedDateData"
            :bordered="true"
            :striped="true"
            :hoverable="true"
            :loading="topics.isLoading"
            :mobile-cards="true"
            :paginated="true"
            :per-page="5"
            default-sort-direction="desc"
            default-sort="rate">

            <template slot-scope="props">
                <b-table-column field="topics" label="Topics">
                    {{ props.row.topics }}
                </b-table-column>

                <b-table-column field="rate" label="Rate" sortable>
                    {{ props.row.rate }}
                </b-table-column>
            </template>

            <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>
                            <b-icon
                                icon="emoticon-sad"
                                size="is-large">
                            </b-icon>
                        </p>
                        <p>Nothing here.</p>
                    </div>
                </section>
            </template>
        </b-table>
        <b-field label="Query Date">
            <b-select
                v-model="queries.selectedDate"
                :loading="topics.isLoading"
                placeholder="Select a date">
                <option
                    v-for="option in queries.data"
                    :value="option.date"
                    :key="option.date">
                    {{ option.date }}
                </option>
            </b-select>
        </b-field>
        <p class="title">Query rates</p>
        <b-table
            :data="queriesSelectedDateData"
            :bordered="true"
            :striped="true"
            :hoverable="true"
            :loading="queries.isLoading"
            :mobile-cards="true"
            :paginated="true"
            :per-page="5"
            default-sort-direction="desc"
            default-sort="rate">

            <template slot-scope="props">
                <b-table-column field="query" label="query">
                    {{ props.row.query }}
                </b-table-column>

                <b-table-column field="rate" label="Rate" sortable>
                    {{ props.row.rate }}
                </b-table-column>
            </template>

            <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>
                            <b-icon
                                icon="emoticon-sad"
                                size="is-large">
                            </b-icon>
                        </p>
                        <p>Nothing here.</p>
                    </div>
                </section>
            </template>
        </b-table>
    </div>
</template>

@section scripts {
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                baseApi: `https://nyxanalytics-dev.azurewebsites.net`,
                botId: `@Model.Id`,
                idToken: `@ViewData["idToken"]`,
                stats: {
                    data: {
                        totalChats: 0,
                        totalMessages: 0,
                        avgSentiment: 0,
                        avgMessagePerHour: 0,
                        rates: []
                    },
                    isLoading: false,
                    max: null,
                    minX: null,
                    messagesPerHourMaxY: 0,
                    failMessagesPerHourMaxY: 0,
                    chatsPerHourMaxY: 0,
                },
                uniqueChatRate: {
                    data: [],
                    isLoading: false,
                    maxX: null,
                    minX: null,
                    maxY: 0,
                },
                topics: {
                    data: [],
                    selectedDate: null,
                    isLoading: false,
                },
                queries: {
                    data: [],
                    selectedDate: null,
                    isLoading: false,
                },
            },
            mounted () {
                this.getStats()
                this.getUniqueChatRate()
                this.getTopics()
                this.getQueries()
            },
            methods: {
                getStats () {
                    this.stats.isLoading = true
                    axios.get(`${this.baseApi}/Stats/${this.botId}?auth=${this.idToken}`)
                        .then(res => {
                            this.stats.data = res.data
                            this.stats.isLoading = false
                        })
                },
                getUniqueChatRate () {
                    this.getUniqueChatRate.isLoading = true
                    axios.get(`${this.baseApi}/UniqueChatRate/${this.botId}?auth=${this.idToken}`)
                        .then(res => {
                            this.getUniqueChatRate.isLoading = false
                            this.uniqueChatRate.data = res.data
                        })
                },
                getTopics () {
                    this.topics.isLoading = true
                    axios.get(`${this.baseApi}/Topics/${this.botId}?auth=${this.idToken}`)
                        .then(res => {
                            this.topics.data = res.data
                            this.topics.isLoading = false
                            if (this.topics.data.length > 0)
                                this.topics.selectedDate = this.topics.data[0].date
                        })
                },
                getQueries () {
                    this.queries.isLoading = true
                    axios.get(`${this.baseApi}/Queries/${this.botId}?auth=${this.idToken}`)
                        .then(res => {
                            this.queries.data = res.data
                            this.queries.isLoading = false
                            if (this.queries.data.length > 0)
                                this.queries.selectedDate = this.queries.data[0].date
                        })
                },
                compareDate (a, b) {
                    return a.getTime() == b.getTime()
                },
                getRandomColor () {
                    let letters = '0123456789ABCDEF'
                    let color = '#'
                    for (let i = 0; i < 6; i++) {
                        color += letters[Math.floor(Math.random() * 16)]
                    }
                    return color
                }
            },
            computed: {
                messagesPerHourData () {
                    if (this.stats.data.rates.length < 1)
                        return []
                
                    let data = {
                        name: `Total`,
                        color: `#33aaaa`,
                        points: []
                    }
                    let channelData = {}
                    for (let i = this.stats.data.rates.length - 1; i >= 0; i--) {
                        let rates = this.stats.data.rates[i]
                        let x = moment(rates.datetime, 'YYYY-MM-DD HH')._d
                        data.points.unshift({
                            x: x,
                            y: rates.messageRate
                        })
                        
                        for (let j = rates.channelRates.length - 1; j >= 0; j--) {
                            let channelRate = rates.channelRates[j]
                            if (channelData[channelRate.channel] === undefined) {
                                channelData[channelRate.channel] = []
                            }
                            channelData[channelRate.channel].unshift({
                                x: x,
                                y: channelRate.messageRate
                            })
                        }
                    }
                    
                    let lines = [data]
                    
                    for (let channelDataKey in channelData) {
                        lines.push({
                            name: channelDataKey,
                            color: this.getRandomColor(),
                            points: channelData[channelDataKey]
                        })
                    }
                  
                    this.stats.maxX = data.points[data.points.length-1].x
                    this.stats.minX = this.stats.maxX.addDays(-1)
                    this.stats.messagesPerHourMaxY = data.points[data.points.length-1].y || 1
                  
                    return lines
                },
                failMessagesPerHourData () {
                    if (this.stats.data.rates.length < 1)
                        return []
                
                    let data = {
                        name: `Total`,
                        color: `#33aaaa`,
                        points: []
                    }
                    let channelData = {}
                    for (let i = this.stats.data.rates.length - 1; i >= 0; i--) {
                        let rates = this.stats.data.rates[i]
                        let x = moment(rates.datetime, 'YYYY-MM-DD HH')._d
                        data.points.unshift({
                            x: x,
                            y: rates.failureRate
                        })
                        
                        for (let j = rates.channelRates.length - 1; j >= 0; j--) {
                            let channelRate = rates.channelRates[j]
                            if (channelData[channelRate.channel] === undefined) {
                                channelData[channelRate.channel] = []
                            }
                            channelData[channelRate.channel].unshift({
                                x: x,
                                y: channelRate.failureRate
                            })
                        }
                    }
                    
                    let lines = [data]
                    
                    for (let channelDataKey in channelData) {
                        lines.push({
                            name: channelDataKey,
                            color: this.getRandomColor(),
                            points: channelData[channelDataKey]
                        })
                    }
                  
                    this.stats.maxX = data.points[data.points.length-1].x
                    this.stats.minX = this.stats.maxX.addDays(-1)
                    this.stats.failMessagesPerHourMaxY = data.points[data.points.length-1].y || 1
                  
                    return lines
                },
                chatsPerHourData () {
                    if (this.stats.data.rates.length < 1)
                        return []
                
                    let data = {
                        name: `Total`,
                        color: `#33aaaa`,
                        points: []
                    }
                    let channelData = {}
                    for (let i = this.stats.data.rates.length - 1; i >= 0; i--) {
                        let rates = this.stats.data.rates[i]
                        let x = moment(rates.datetime, 'YYYY-MM-DD HH')._d
                        data.points.unshift({
                            x: x,
                            y: rates.chatRate
                        })
                        
                        for (let j = rates.channelRates.length - 1; j >= 0; j--) {
                            let channelRate = rates.channelRates[j]
                            if (channelData[channelRate.channel] === undefined) {
                                channelData[channelRate.channel] = []
                            }
                            channelData[channelRate.channel].unshift({
                                x: x,
                                y: channelRate.chatRate
                            })
                        }
                    }
                    
                    let lines = [data]
                    
                    for (let channelDataKey in channelData) {
                        lines.push({
                            name: channelDataKey,
                            color: this.getRandomColor(),
                            points: channelData[channelDataKey]
                        })
                    }
                  
                    this.stats.maxX = data.points[data.points.length-1].x
                    this.stats.minX = this.stats.maxX.addDays(-1)
                    this.stats.chatsPerHourMaxY = data.points[data.points.length-1].y || 1
                  
                    return lines
                },
                uniqueChatRateData () {
                    if (this.uniqueChatRate.data == null || this.uniqueChatRate.data.length < 1)
                        return []
                
                    let data = {
                        name: `Total`,
                        color: `#33aaaa`,
                        points: []
                    }
                    let channelData = {}
                    for (let i = this.uniqueChatRate.data.length - 1; i >= 0; i--) {
                        let rate = this.uniqueChatRate.data[i]
                        let x = moment(rate.date, 'YYYY-MM-DD')._d
                        data.points.unshift({
                            x: x,
                            y: rate.totalChats
                        })
                        
                        for (let j = rate.rates.length - 1; j >= 0; j--) {
                            let channelRate = rate.rates[j]
                            if (channelData[channelRate.channel] === undefined) {
                                channelData[channelRate.channel] = []
                            }
                            channelData[channelRate.channel].unshift({
                                x: x,
                                y: channelRate.rate
                            })
                        }
                    }
                    
                    let lines = [data]
                    
                    for (let channelDataKey in channelData) {
                        lines.push({
                            name: channelDataKey,
                            color: this.getRandomColor(),
                            points: channelData[channelDataKey]
                        })
                    }
                    
                    this.uniqueChatRate.maxX = data.points[data.points.length-1].x
                    this.uniqueChatRate.minX = this.uniqueChatRate.maxX.addDays(-30)
                    this.uniqueChatRate.maxY = data.points[data.points.length-1].y
                  
                    return lines
                },
                topicsSelectedDateData () {
                    for (let i = this.topics.data.length - 1; i >= 0; i--) {
                        let data = this.topics.data[i]
                        if (this.topics.selectedDate == data.date) {
                            return data.topics
                        }
                    }
                },
                queriesSelectedDateData () {
                    for (let i = this.queries.data.length - 1; i >= 0; i--) {
                        let data = this.queries.data[i]
                        if (this.queries.selectedDate == data.date) {
                            return data.queryTypes
                        }
                    }
                }
            }
        })
    </script>
}