﻿<template>
    <div v-on:mouseleave="mouseleave" v-on:mouseenter="mouseenter" :style="{position: 'relative'}">
        <p class="title">{{ title }}</p>
        <svg ref="svg" v-on:mousemove="mousemove" :width="width" :height="height">
            <g ref="chart" class="chart" :transform="chartTransform">
                <g ref="lines" class="lines">
                    <path class="line" v-for="line in lines" :d="line.points" :stroke="line.color"></path>
                    
                    <rect ref="hoverLine" class="hoverLine" :height="height" :transform="hoverLineTransform"></rect>
                    <circle ref="focusCircle" v-for="focus in focuses" class="focusCircle" :fill="focus.color" :transform="focus.transform"></circle>
                </g>
                <rect ref="leftRect" :width="margin.left" :height="height" :transform="leftRectTransform"></rect>
                <rect ref="rightRect" :width="margin.left" :height="height" :transform="rightRectTransform"></rect>
                <rect ref="topRect" :width="width" :height="margin.bottom" :transform="topRectTransform"></rect>
                <rect ref="bottomRect" :width="width" :height="margin.bottom" :transform="gXTransform"></rect>
                <g ref="gX" class="x axis" :transform="gXTransform"></g>
                <g ref="gY" class="y axis"></g>
            </g>
        </svg>
        <div ref="tooltip" v-show="tooltipStyle.visible" class="tooltip" :style="tooltipStyle">
            <p>
                x: {{ lastHoverPoint.x }}
                <br>
                <span :style="{color : point.color}" v-for="point in lastHoverPoint.ys">
                    {{ point.name }}: {{ point.y }}
                    <br>
                </span>
            </p>
        </div>
        <b-loading :is-full-page="false" :active.sync="loading"></b-loading>
    </div>
</template>

<script>
    export default {
        props: {
            data: {
                type: Array,
                default: () => [],
            },
            width: {
                type: Number,
                default: 500
            },
            height: {
                type: Number,
                default: 300
            },
            title: {
                type: String,
                default: ''
            },
            minX: null,
            maxX: null,
            minY: null,
            maxY: null,
            margin: {
                type: Object,
                default: () => ({
                    left: 50,
                    right: 0,
                    top: 50,
                    bottom: 50,
                    }),
            },
            xAxisDate: {
                type: Boolean,
                default: false
            },
            xAxisTick: {
                type: Number,
                default: 1
            },
            xEqual: {
                type: Function,
                default (a,b) {
                    return a == b;
                }
            },
            loading: {
                type: Boolean,
                default: false
            }
        },
        data () {
            return {
                svg: null,
                chart: null,
                gX: null,
                gY: null,
                chartTransform: `translate(${this.margin.left}, ${this.margin.top})`,
                gXTransform: `translate(0, ${this.height - this.margin.top - this.margin.bottom})`,
                topRectTransform: `translate(0, -${this.margin.top})`,
                leftRectTransform: `translate(-${this.margin.left}, -${this.margin.top})`,
                rightRectTransform: `translate(${this.width - this.margin.left - this.margin.right}, -${this.margin.top})`,
                hoverLineTransform: `translate(-100, -${this.margin.top})`,
                focuses: [],
                zoom: null,
                currentTransform: {x:0, y:0, k:1},
                lastHoverPoint: {},
                tooltipStyle: { left: -1000, top: -1000, right: 'auto', bottom: 'auto', visible: false },
                xBisect: null,
            }
        },
        mounted () {
            this.zoom = d3.zoom()
                .scaleExtent([1, 1])
                .extent([[100, 100], [this.width-100, this.height-100]])
                .on("zoom", this.zoomed);

            this.chart = d3.select(this.$refs.chart);

            this.gX = d3.select(this.$refs.gX)
                .call(this.xAxis)

            this.gY = d3.select(this.$refs.gY)
                .call(this.yAxis)

            this.svg = d3.select(this.$refs.svg)
                .call(this.zoom);

            this.xBisect = d3.bisector(d => d.x).left;
        },
        methods: {
            mouseleave () {
                this.tooltipStyle.visible = false;
            },
            mouseenter () {
                this.tooltipStyle.visible = true;
            },
            mousemove (offset) {
                if (this.data.length > 0) {
                    let relativeX = offset.offsetX - this.margin.left,
                        actualX = this.currentTransform.x + relativeX,
                        closestPoint = this.getClosestPoint(actualX);

                    if (closestPoint === undefined)
                        return false;

                    if (closestPoint.i !== this.lastHoverPoint.i) {
                        this.focuses = [];
                        let focusX = this.x(closestPoint.x);
                        for (let i = closestPoint.ys.length - 1; i >= 0; i--) {
                            let point = closestPoint.ys[i];
                            let focusY = this.y(point.y);
                            this.focuses.unshift({
                                color: point.color,
                                transform: `translate(${focusX}, ${focusY})`
                            });
                        }

                        this.hoverLineTransform = `translate(${focusX - 0.5}, ${-this.margin.top})`;
                        this.lastHoverPoint = closestPoint;
                    }

                    if (offset.offsetX > this.width - 100 && offset.offsetY > this.height - 100) {
                        this.tooltipStyle.left = `auto`;
                        this.tooltipStyle.top = `auto`;
                        this.tooltipStyle.right = `${100}px`;
                        this.tooltipStyle.bottom = `${100}px`;
                    } else if (offset.offsetX > this.width - 100) {
                        this.tooltipStyle.left = `auto`;
                        this.tooltipStyle.top = `${offset.offsetY + 50}px`;
                        this.tooltipStyle.right = `${100}px`;
                        this.tooltipStyle.bottom = `auto`;
                    } else if (offset.offsetY > this.height - 100) {
                        this.tooltipStyle.left = `${offset.offsetX + 50}px`;
                        this.tooltipStyle.top = `auto`;
                        this.tooltipStyle.right = `auto`;
                        this.tooltipStyle.bottom = `${100}px`;
                    } else {
                        this.tooltipStyle.left = `${offset.offsetX + 50}px`;
                        this.tooltipStyle.top = `${offset.offsetY + 50}px`;
                        this.tooltipStyle.right = `auto`;
                        this.tooltipStyle.bottom = `auto`;
                    }

                }
            },
            getClosestPoint (actualX) {
                let x0 = this.x.invert(actualX);

                let closestPoint = {
                    ys: []
                };

                let closestX = null;
                for (let i = this.data.length - 1; i >= 0; i--) {
                    let line = this.data[i];
                    let data = line.points;
                    let index = this.xBisect(data, x0, 1);
                    let d0 = data[index - 1];
                    let d1 = data[index];

                    let d = d1 === undefined ? d0 : d0 === undefined ? d1 :  x0 - d0.x > d1.x - x0 ? d1 : d0;
                    let chosenIndex = d1 === undefined ? index - 1 : d0 === undefined ? index : x0 - d0.x > d1.x - x0 ? index : index - 1;
                    let focusX = this.x(d.x);

                    if (closestX == null || Math.abs(actualX - closestX) > Math.abs(actualX - focusX)) {
                        closestX = focusX;
                    }

                    closestPoint.ys.unshift({
                        name: line.name,
                        color: line.color,
                        i: chosenIndex,
                        x: d.x,
                        y: d.y
                    });
                }

                // remove all that are not closestX
                for (let i = closestPoint.ys.length - 1; i >= 0; i--) {
                    let point = closestPoint.ys[i];

                    let focusX = this.x(point.x);

                    if (focusX !=closestX) {
                        closestPoint.ys.splice(i, 1);
                    }
                }

                closestPoint.i = closestPoint.ys[0].i;
                closestPoint.x = closestPoint.ys[0].x;

                return closestPoint;

                // let actualX = this.currentTransform.x + relativeX;

                // let index = Math.round(actualX / this.chartWidth * 30);
                // let closestPoint = {
                //     i: index,
                //     ys: []
                // };

                // let lowestX = null;
                // for (let i = this.data.length - 1; i >= 0; i--) {
                //     let line = this.data[i];

                //     if (line.points[closestPoint.i] === undefined)
                //         continue;

                //     if (lowestX === null || lowestX > line.points[closestPoint.i].x)
                //         lowestX = line.points[closestPoint.i].x;

                //     closestPoint.ys.unshift({
                //         name: line.name,
                //         y: line.points[closestPoint.i].y
                //     });
                // }
                // closestPoint.x = lowestX;
                // return closestPoint;
            },
            zoomed () {
                this.chart.select('.lines')
                    .attr('transform', d3.event.transform);
                d3.selectAll('.line').style("stroke-width", 2/d3.event.transform.k);
                this.gX.call(this.xAxis.scale(d3.event.transform.rescaleX(this.x)));
                this.gY.call(this.yAxis.scale(d3.event.transform.rescaleY(this.y)));
                this.currentTransform = JSON.parse(JSON.stringify(d3.event.transform));
                this.currentTransform.x *= -1;
                this.currentTransform.y *= -1;
            },
            interpolateZoom (translate, scale) {
                return d3.transition().duration(250).tween("zoom", () => {
                    translate[0] += this.width/2;
                    translate[1] += this.height/2;
                    let iTranslate = d3.interpolate([this.width/2 + this.currentTransform.x, this.height/2 + this.currentTransform.y], translate);
                    let iScale = d3.interpolate(this.currentTransform.k, scale);
                    return (t) => {
                        let newTransform = iTranslate(t);
                        this.zoom.scaleTo(this.svg, iScale(t));
                        this.zoom.translateTo(this.svg, newTransform[0], newTransform[1]);
                    };
                });
            },
            nextPage () {
                this.interpolateZoom([this.currentTransform.x + this.width - this.margin.left - this.margin.right, this.currentTransform.y], this.currentTransform.k);
            },
            prevPage () {
                this.interpolateZoom([this.currentTransform.x - this.width + this.margin.left + this.margin.right, this.currentTransform.y], this.currentTransform.k);
            },
            upPage () {
                this.interpolateZoom([this.currentTransform.x, this.currentTransform.y - this.height + this.margin.top + this.margin.bottom], this.currentTransform.k);
            },
            downPage () {
                this.interpolateZoom([this.currentTransform.x, this.currentTransform.y + this.height - this.margin.top - this.margin.bottom], this.currentTransform.k);
            },
        },
        computed: {
            lines () {
                const path = d3.line()
                    .x((d) => this.x(d.x))
                    .y(d => this.y(d.y));

                let _lines = [];
                for (let i = this.data.length - 1; i >= 0; i--) {
                    let datum = this.data[i];
                    let line = {
                        name: datum.name,
                        color: datum.color,
                        points: path(datum.points)
                    }

                    _lines.push(line);
                }

                return _lines;
            },
            x () {
                if (this.xAxisDate) {
                    return d3.scaleTime()
                        .domain([this.minX, this.maxX])
                        .range([0, this.width-this.margin.left-this.margin.right]);
                } else {
                    return d3.scaleLinear()
                        .domain([this.minX, this.maxX])
                        .range([0, this.width-this.margin.left-this.margin.right]);
                }
            },
            y () {
                return d3.scaleLinear()
                    .domain([this.currentYDomain.min, this.currentYDomain.max])
                    .range([this.height-this.margin.top-this.margin.bottom, 0]);
            },
            xAxis () {
                if (this.xAxisDate) {
                    let today = new Date();
                    let offset = -(today.getTimezoneOffset()/60);
                    return d3.axisBottom(this.x)
                        .ticks(d3.timeDay.every(this.xAxisTick))
                        .tickFormat(function (d) {
                            d = new Date(d.getTime() - offset * 3600 * 1000);
                            return `${d.getFullYear()}/${d.getMonth()+1}/${d.getDate()}`;
                        });
                } else {
                    return d3.axisBottom(this.x);
                }

            },
            yAxis () {
                return d3.axisLeft(this.y);
            },
            chartWidth () {
                return this.width-this.margin.left-this.margin.right;
            },
            chartHeight () {
                return this.height-this.margin.top-this.margin.bottom;
            },
            currentYDomain () {
                let start = this.x.invert(this.currentTransform.x);
                let end = this.x.invert(this.currentTransform.x + this.chartWidth);

                let minY = 0;
                let maxY = 0;

                if (this.data.length < 0 || this.data[0] == undefined || this.data[0].points.length < 0)
                    return { min: 0, max: 0 };

                for (let i = this.data.length - 1; i >= 0; i--) {
                    let line = this.data[i];
                    let data = line.points;
                    let startIndex = this.xBisect(data, start, 1);
                    let endIndex = this.xBisect(data, end, 1);

                    for (let j = endIndex; j >= startIndex; j--) {
                        let point = data[j];
                        if (point == undefined)
                            continue;
                        if (point.y > maxY) {
                            maxY = point.y;
                        }

                        if (point.y < minY) {
                            minY = point.y;
                        }
                    }
                }

                return { min: minY, max: maxY };
            }
        },
        watch: {
            height (newVal) {
                this.height = newVal;
            },
            width (newVal) {
                this.width = newVal;
            },
            minX (newVal) {
                this.minX = newVal;
                this.gX = d3.select(this.$refs.gX)
                    .call(this.xAxis)
            },
            maxX (newVal) {
                this.maxX = newVal;
                this.gX = d3.select(this.$refs.gX)
                    .call(this.xAxis)
            },
            minY (newVal) {
                this.minY = newVal;
                this.gY = d3.select(this.$refs.gY)
                    .call(this.yAxis)
            },
            maxY (newVal) {
                this.maxY = newVal;
                this.gY = d3.select(this.$refs.gY)
                    .call(this.yAxis)
            }
        }
    }
</script>

<style scoped>
    .chart {
        pointer-events: all;
    }

    rect {
        fill: white;
    }

    .line {
        fill: none;
        stroke-width: 2;
    }

    .hoverLine {
        fill: grey;
        width: 1px;
        stroke-width: 0;
    }

    .focusCircle {
        stroke: white;
        r: 4;
        stroke-width: 1;
    }

    .tooltip {
        position: absolute;
        background-color: white;
        border-radius: 3px;
        border: 1px solid black;
        padding: 10px;
    }
</style>