﻿
@{
    ViewData["Title"] = "Edit SmallTalk";
    Layout = "_NavBarLayout";
}
<div class="container" id="vm">
    <form class="ui form">
        <div class="field" v-for="(smallTalkData,index) in smallTalkArray">
            <label>{{index+1}}. {{smallTalkData.Question}}</label>
            <div class="media" v-for="(answerText , answerIndex) in smallTalkData.Answer">
                <div class="media-content">
                    <textarea class="textarea" v-model="answerText.value"></textarea>
                </div>
                <div class="media-right">
                    <a class="delete" @@click="removeAnswer(index,answerIndex)"></a>
                </div>
            </div><br />
            <div class="field is-grouped is-grouped-right">
                <input class="button is-success" @@click="AddData(index)" type="button" value="+" />
            </div>
        </div><br />
    </form>
    <input class="button is-success" v-on:click="UpdateData" type="button" value="Save" style="position:fixed; bottom:30px; right: 30px; z-index:1000000000;" />
</div>
<br />
@section scripts {
    <script>
        const vm = new Vue({
            el: '#vm',
            data: {
                botId: window.location.href.split("/").pop(),
                smallTalkArray: [],
            },
            methods: {
                async UpdateData() {
                    const updatedSmallTalkArray = JSON.parse(JSON.stringify(this.smallTalkArray)) // cause I can't do a deep copy properly'
                    for (let i = 0; i < updatedSmallTalkArray.length; i++) {
                        const arrayData = []
                        for (let index = 0; index < updatedSmallTalkArray[i].Answer.length; index++) {
                            arrayData.push(updatedSmallTalkArray[i].Answer[index].value)
                        }
                        updatedSmallTalkArray[i].Answer = arrayData
                    }
                    try {
                        const response = await axios.put(
                            `/CustomerSupport/updateSmallTalk/${this.botId}`,
                            updatedSmallTalkArray,
                            {
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                            }
                        )
                        alert('Answer saved')
                    } catch (e) {
                        if (response.status == 200) {
                            alert('Answer saved')
                            return
                        }
                        console.log(e)
                    }
                },
                AddData(index) {
                    this.smallTalkArray[index].Answer.push({ value: '' });
                },
                removeAnswer(index, answerIndex) {
                    if (this.smallTalkArray[index].Answer.length == 1) {
                        const confirmation = confirm("You wil be deleting the only answer for this question.\nAre you sure you want to continue?")
                        if (confirmation) {
                            this.smallTalkArray[index].Answer.splice(answerIndex, 1)
                        }
                        return;
                    }
                    this.smallTalkArray[index].Answer.splice(answerIndex, 1)
                }
            },
            async mounted() {
                try {
                    const response = await axios.get(`/CustomerSupport/getSmallTalk/${this.botId}`)
                    const data = response.data
                    for (let i = 0; i < data.length; i++) {
                        const arrayData = []
                        for (let index = 0; index < data[i].Answer.length; index++) {
                            arrayData.push({ 'value': data[i].Answer[index] })
                        }
                        data[i].Answer = arrayData
                    }
                    this.smallTalkArray = data;
                } catch (e) {
                    console.log(e)
                    alert("Unable to get data")
                }
            }
        })
    </script>
}