﻿
@{
    ViewData["Title"] = "Edit Q&A Page";
    Layout = "_NavBarLayout";
}
<style>
    .added-padding {
        padding-top: 20px;
        padding-bottom: 80px;
    }
</style>
<div class="container">
    <div id="vm" class="added-padding">
        <div class="field" v-for="questionData in showedIntents" v-if="questionData.question != null">
            <label><b>{{questionData.question}}</b></label>
            <div class="control">
                <textarea v-model="questionData.message" class="textarea"></textarea>
            </div>
        </div>
        <input class="button is-success" v-on:click="UpdateData" type="button" value="Save" style="position:fixed; bottom:30px; right: 30px; z-index:1000000000" />
    </div>
</div>
@section scripts {
    <environment names="Development">
        <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    </environment>
    <script>
        const vm = new Vue({
            el: '#vm',
            data: {
                intents: [],
                showedIntents: [],
                question: []
            },
            computed: {
                allIntentData() {
                    return this.intents.reduce((p, c) => {
                        c.entityResponse = c.entityResponse.reduce((accumalativeData, currValue) => {
                            const key = vm.question.indexOf(currValue.question.trim())
                            currValue.message = vm.showedIntents[key].message
                            return accumalativeData.concat(currValue);
                        }, [])
                        return p.concat(c);
                    }, [])
                }
            },
            methods: {
                async UpdateData() {
                    console.dir(this.allIntentData);
                    try {
                        await axios.put(
                            `/CustomerSupport/updateBotIntent/${this.botId}`,
                            this.allIntentData,
                            {
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                            }
                        )
                        alert('Answer saved')
                    } catch (e) {
                        alert('Question is not saved')
                    }
                }
            },
            async mounted() {
                this.botId = window.location.href.split("/").pop();
                try {

                    const response = await axios.get(
                        `/CustomerSupport/getBotIntent/${this.botId}`
                    )
                    let entityResArr = response.data.map(x => x.entityResponse).reduce((overall, v) => overall.concat(v))
                    entityResArr = entityResArr.reduce(function (p, c) {
                        var key = c.question;
                        if (p.temp.indexOf(key.trim()) === -1) {
                            p.out.push(c);
                            p.temp.push(key.trim());
                        }
                        return p;
                    }, { temp: [], out: [] })// this guy is a genius https://stackoverflow.com/questions/36032179/remove-duplicates-in-an-object-array-javascript
                    this.question = this.question.concat(entityResArr.temp)
                    this.showedIntents = this.showedIntents.concat(entityResArr.out)
                    this.intents = response.data;
                } catch (e) {
                    console.log(e)
                    alert('Unable to retrieve question ')
                }
            }
        })
    </script>
}

