﻿@{
    ViewData["Title"] = "Dashboard";
}

<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            @foreach (var bot in Model)
            {
                <div class="column has-text-centered is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p class="title">@bot.Name</p>
                                <p class="subtitle">@bot.Type</p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a asp-controller="CustomerSupport" asp-action="Chat" asp-route-id="@bot.Id" class="card-footer-item">Chat</a>
                        </footer>
                    </div>
                </div>
            }
        </div>
    </div>
</section>