@{
    ViewData["Title"] = "Home Page";
    Layout = "_NavBarLayout";
}

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">Nyx</h1>
        </div>
    </div>
</section>

@section scripts {
}
