// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Setup Custom Colors
$blue: #1153bf;
$blue-invert: findColorInvert($blue);
$cyan: #33aaaa;
$cyan-invert: findColorInvert($cyan);
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);
$primary: $blue;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "blue": ($blue, $blue-invert),
	"cyan": ($cyan, $cyan-invert),
	"red": ($red, $red-invert),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
	"twitter":($twitter, $twitter-invert),
	"linkedin": ($linkedin, $linkedin-invert),
	"github": ($github, $github-invert)
);



// Add new color variables to the color map.
$addColors: (
	
);
$colors: map-merge($colors, $addColors);

$dimensions: 16, 24, 32, 48, 64, 96, 128, 256, 512, 1024;

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma/bulma";
@import "~buefy/src/scss/buefy";

@import "~vue-form-wizard/dist/vue-form-wizard.min";

#mainNavBar + #app {
    margin-top: 3.25em
}

#mainNavBar + #app .is-fullheight {
    margin-top: -3.25em;
}

.profile.image img {
    border-radius: $control-radius;
}

@media only screen and (min-width: $tablet) {
    /*.image.is-256x256-tablet {
        width: 256px;
        height: 256px;
    }*/

    .content .profile.image {
        margin: 0;
        text-align: start;
        width: 256px;
    }

    .content .profile.image img {
        max-height: 400px;
    }
    
    form .profile.image {
        margin: auto;
    }

    /*profile.image.is-256x256-tablet img,
    .content .profile.image.is-256x256-tablet img {
        max-height: 256px;
    }*/
}

$dt-width: 150px;

.content {
    margin: 20px;
}

.content h2 > small {
    margin-left: 20px;
}

.content .profile.image {
    margin: auto;
    overflow: hidden
}

.content .profile.image img {
    max-height: 150px;
    width: auto;
}

.content .profile.image + .title {
    margin-top: 0.25em;

}

.content dt {
    font-weight: bold;
    float: left;
    width: $dt-width;
}

.content dd {
    margin-left: $dt-width;
}

.content dt + dd {
    margin: 0
}

.dimmer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #333;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dimmer:hover {
    opacity: 0.7;
}

.clickable {
    cursor: pointer;
}

.card.selected {
    border: 2px solid $primary;
}

.field.has-nested {
    margin-left: 20px;
    display: block;
}

.vue-form-wizard .wizard-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}