﻿<template>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">Nyx</h3>
                    <p class="subtitle has-text-grey">Please login to proceed.</p>
                    <form action="/Account/Login" method="post">
                        <b-field label="Email">
                            <b-input type="email"
                                name="Email"
                                placeholder="admin@abc.com"
                                maxlength="100">
                            </b-input>
                        </b-field>
                        <b-field label="Password">
                            <b-input type="password"
                                name="Password"
                                password-reveal>
                            </b-input>
                        </b-field>
                        <div class="field">
                            <b-checkbox name="RememberMe">Remember me</b-checkbox>
                        </div>
                        <button type="submit" class="button is-block is-cyan is-large">Login</button>
                    </form>
                    <p class="has-text-grey">
                        <a href="../">Sign Up</a> &nbsp;·&nbsp;
                        <a href="../">Forgot Password</a> &nbsp;·&nbsp;
                        <a href="../">Need Help?</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        data() {
            return {}
        }
    }
</script>
<style>
    button[type="submit"] {
        width: 100%;
    }
</style>